.git/
node_modules/
config/cloudboost.json
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
.vs/
project.lock.json
artifacts/
*.sln
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.doubt
*~
*.swp
*.idea
*.njsproj
*.suo
uploads/
.vs/
.ntvs_analysis.dat
DataServices.njsproj
DataServices.v12.suo
DataServices.v14.suo
*.sln
