<!DOCTYPE html>
<html lang="en">

<head>
    <title>CloudBoost | About us</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | About us" />
    <meta name="description" content="Meet the team behind CloudBoost">
    <meta name="keywords" content="about cloudboost, realtime, backend as a service, websockets,  database service,database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, nosql, instant API,Automatic Scaling, Real-time Synchronization,hosted, full-text, facet, faceted, numerical, geolocation, search, rest, api, relevance, popularity nosql database">
    <meta name="fragment" content="!" />
    <!--common head links-->
    <% include ./partials/commonHead %>
</head>

<body>

    <!--header-->
    <header id="header" class="header">
        <% include ./partials/header %>
    </header>

    <!--Content-->
    <!--********************************************************************************************-->
    <div class="headline-bg about-headline-bg">
    </div>
    <!--//headline-bg-->

    <!-- ******Video Section****** -->
    <section class="story-section section section-on-bg">
      <h1 style="color:white; font-size:44px;" class="text-center">
          <span style="font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">About us</span>
      </h1>
        <div class="story-container container text-center">
            <div class="story-container-inner">
                <div class="about">

                    <p style="color:#636363">CloudBoost is changing the way apps are built around the world. We focus on productivity and agility for our customers and are on a mission to multiply the pace of innovation that's happening around the world.</p>

                    <p style="color:#636363"> We're in an era where software is building software and we want to be a leader in that evolution. We think Artificial Intelligence will take over building software eventunally, with very little or no human intervention. Yes, that's the big vision which we're working on.
                    </p>

                    <blockquote class="belife"><b>We're in an era where software is building software and we want to be the leader in that evolution.</b></blockquote>
                </div>
                <!--//about-->
                <div class="team row">

                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/team/member-1.png" alt="Nawaz Dhandala" />
                                <figcaption class="info" style="margin:0px">
                                    <span class="name">Nawaz Dhandala</span>
                                    <br />
                                    <span class="job-title">Founder</span>
                                </figcaption>
                            </figure>
                            <!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="http://in.linkedin.com/in/nawazdhandala"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a target="_blank" href="https://twitter.com/nawazdhandala"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                                <!--//social-list-->
                            </div>
                            <!--//social-->
                        </div>
                        <!--//member-inner-->
                    </div>
                    <!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/team/member-3.png" alt="Ravi Teja" />
                                <figcaption class="info"><span class="name">Ravi Teja</span><br /><span class="job-title">User Experience</span></figcaption>
                            </figure>
                            <!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://twitter.com/SaurabTeznath"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                                <!--//social-list-->
                            </div>
                            <!--//social-->
                        </div>
                        <!--//member-inner-->
                    </div>
                    <!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" style="height:230px;" src="/images/people/vipul.jpg" alt="Vipul Maheshwari" />
                                <figcaption class="info"><span class="name">Vipul Maheshwari</span><br /><span class="job-title">Software Engineer</span></figcaption>
                            </figure>
                            <!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://in.linkedin.com/pub/vipul-maheshwari/6a/861/569"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <!--//social-list-->
                            </div>
                            <!--//social-->
                        </div>
                        <!--//member-inner-->
                    </div>
                    <!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/people/ranjeet.jpg" alt="Ranjeet Kumar" />
                                <figcaption class="info"><span class="name">Ranjeet Kumar</span><br /><span class="job-title">Software Engineer</span></figcaption>
                            </figure>
                            <!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://www.linkedin.com/profile/view?id=220628226"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <!--//social-list-->
                            </div>
                            <!--//social-->
                        </div>
                        <!--//member-inner-->
                    </div>
                    <!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/people/ramakanth.jpg" alt="Ramakanth" />
                                <figcaption class="info"><span class="name">Ramakanth Reddy</span><br /><span class="job-title">Software Engineer</span></figcaption>
                            </figure>
                            <!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://in.linkedin.com/in/ramakanth35hi"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <!--//social-list-->
                            </div>
                            <!--//social-->
                        </div>
                        <!--//member-inner-->
                    </div>
                    <!--//member-->

                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/team/utkarsh.jpg" alt="Utkarsh Gupta" />
                                <figcaption class="info"><span class="name">Utkarsh Gupta</span><br /><span class="job-title">Software Engineer</span></figcaption>
                            </figure>
                            <!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://www.linkedin.com/in/utkarshpramodgupta"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <!--//social-list-->
                            </div>
                            <!--//social-->
                        </div>
                        <!--//member-inner-->
                    </div>
                    <!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/team/ritish.JPG" alt="Ritish Gumber" />
                                <figcaption class="info"><span class="name">Ritish Gumber</span><br /><span class="job-title">Software Engineer</span></figcaption>
                            </figure>
                            <!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://www.linkedin.com/in/ritishgumber"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a target="_blank" href="https://twitter.com/ritishgumber"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                                <!--//social-list-->
                            </div>
                            <!--//social-->
                        </div>
                        <!--//member-inner-->
                    </div>
                    <!--//member-->

                     <div class="member col-md-4 col-sm-6 col-xs-12">
                         <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/team/devesh.jpg" alt="Devesh"/>
                                <figcaption class="info"><span class="name">Devesh Bhardwaj</span><br /><span class="job-title">Software Engineer</span></figcaption>
                           </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://www.facebook.com/cheeniya"><i class="fa fa-facebook"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                     <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/team/kashish.jpg" alt="Kashish"/>
                                <figcaption class="info"><span class="name">Kashish Chakarvarti</span><br /><span class="job-title">Software Engineer</span></figcaption>
                            </figure><!--//profile-->

                        </div><!--//member-inner-->
                    </div><!--//member-->

                    <div class="member col-md-4 col-sm-6 col-xs-12">
                         <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/team/shubham.jpg" alt="Shubham"/>
                                <figcaption class="info"><span class="name">Shubham Aggarwal</span><br /><span class="job-title">Software Engineer</span></figcaption>
                           </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://github.com/shubhamqweasd/"><i class="fa fa-github"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->

                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;" class="img-responsive" src="/images/team/jignesh.jpg" alt="Jignesh"/>
                                <figcaption class="info"><span class="name">Jignesh Chaudhari</span><br /><span class="job-title">Software Engineer</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a target="_blank" href="https://github.com/jignesh248/"><i class="fa fa-github"></i></a></li>
                                    <li><a target="_blank" href="https://www.facebook.com/jignesh248"><i class="fa fa-facebook"></i></a></li>

                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->



                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile" style="margin:0px">
                                <img style="height:230px;width: 100%;" class="img-responsive" src="/images/team/ankit.jpg" alt="Ankeeth Suvarna" />
                                <figcaption class="info"><span class="name">Ankeeth Suvarna</span><br /><span class="job-title">Software Engineer</span></figcaption>
                            </figure>
                            <!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline" style="cursor:pointer">
                                    <li><a target="_blank" href="https://in.linkedin.com/in/ankeethysuvarna"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a target="_blank" href="https://github.com/imankit/"><i class="fa fa-github"></i></a></li>
                                </ul>
                                <!--//social-list-->
                            </div>
                            <!--//social-->
                        </div>
                        <!--//member-inner-->
                    </div>
                    <!--//member-->
                </div>
                <!--//team-->
                <div class="press-kit text-center">
                  <h1 style="font-size:44px;" class="text-center">
                      <span style="font-family: 'Signika', sans-serif; font-weight:600;color:#7d7d7d;font-size:35px">We're hiring!</span>
                  </h1>
                    <p style="font-size:18px;color:#585858">What we promise: a tight team of best minds, and people who dream everyday to change this world and make it a better place to live in. If you like what you see, we invite you to join us as we are hiring all year round to fuel our
                        growth.<br/>
                        <a id="about-bottom-joinus-btn" class="btn btn-cta btn-cta-primary" href="/joinus">Join us</a>
                </div>
                <!--//press-kit-->
            </div>
            <!--//story-container-->
        </div>
        <!--//container-->
    </section>
    <!--//story-video-->

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>

    <!--scripts-->
    <% include ./partials/commonScripts %>
        <script type="text/javascript">
            //Initialization
            $(document).ready(function() {
                mixpanel.track('Visted About Page', {
                    "visited": "visited About Page"
                });
                amplitude.getInstance().logEvent('Visted About Page', {
                    "visited": "visited About Page"
                });
            });
            //Initialization

            $("#about-bottom-joinus-btn").click(function() {
                mixpanel.track('Aboutpage Bottom JoinUs Button', {
                    "Clicked": "Aboutpage Bottom JoinUs Button"
                });
                amplitude.getInstance().logEvent('Aboutpage Bottom JoinUs Button', {
                    "Clicked": "Aboutpage Bottom JoinUs Button"
                });
            });
        </script>

        <!--********************************************************************************************-->

</body>

</html>
