<!DOCTYPE html>
<html lang="en">

<head>
  <title>CloudBoost | Software Development and Consulting</title>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="CloudBoost | CSoftware Development and Consulting" />
  <meta name="description" content="Engineers who have built CloudBoost can now help you build your app. Talk to us and get started right away.">
  <meta name="keywords" content="consulting, development shop, software development, cloudboost help, cloudboost support, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
  <meta name="fragment" content="!" />
  <!--common head links-->
  <% include ./partials/commonHead %>
</head>

<body>
  <section class="contact-headline-bg">
    <!--header-->
    <header id="header" class="header">
      <% include ./partials/header %>
    </header>

    <!--Content-->
    <!--********************************************************************************************-->
    <!-- ******Contact Section****** -->
    <section class="contact-section section section-on-bg development-service">
      <div class="container">
        <center>
          <h1 style="color:white; font-size:44px; font-family: 'Signika', sans-serif; font-weight: 300;">
            <span style="font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">Let's build something great.</span>
          </h1>

          <div>
            <h3 style="color:white; font-size:30px; font-family: 'Signika', sans-serif; font-weight: 300;">
              <span style="color:#b1d8ec; font-family: 'Signika', sans-serif; font-weight: 300;">We help the world’s leading companies and startups <br/>build amazing apps and services that are simple, beautiful and easy to use.</span>
            </h3>
          </div>

        </center>
      </div>
      <!--//container-->
    </section>
  </section>
  <section class=container-wide id=portfolio>
    <article class="port-wide img-hex" style="background-color:white">
      <section class=port-item>
        <div class=port-info>
          <h2 style="font-family: 'Signika', sans-serif; color:#FF674D">ChefSteps</h2>
          <h3 style="font-weight:700; color:#2E2E2E">Ionic, MongoDB, ElasticSearch, Node, React, Docker</h3>
          <p style="color:#535353">Best selling Ionic app on the store. ChefSteps believes cooking makes us better people. Founded in 2012, They're
            a Seattle-based food and technology company on a mission to help people cook smarter.<br><br>Chefsteps and its
            companion app are designed to inspire creativity and encourage experimentation through high-quality interactive
            content, techniques, tools, and resources.</p><a href=https://www.chefsteps.com target=blank class="btn btn-outline"
            style="margin-bottom: 10px;color: #717171;
            border-color: #717171;">See the product</a></div>
          <div class=port-img>
            <div class=browser></div>
            <div class=img-source style="background-size: cover;background-repeat: no-repeat"></div>
          </div>
      </section>
    </article>
    <article class="port-wide img-panda invisible" style="background-color:#f9f9f9">
      <section class=port-item>
        <div class=port-info>
          <h2 style="font-family: 'Signika', sans-serif;color:#484848">LunaLights</h2>
          <h3 style="font-weight:700; color:#2E2E2E;">MongoDB, Node, Angular, Docker</h3>
          <p style="color:#535353">LunaLights is an ultra-thin bed sensor and lighting system for assisted living communities, their residents and
            their families which helps prevent falls.<br><br>We've worked on the backend &amp; frontend for Lunalights and
            it's been installed in communities across US and has since saved many lives.</p><a href=https://www.lunalights.org
            target=blank class="btn btn-outline" style="margin-bottom: 10px;color: #717171;
            border-color: #717171;">See the product</a></div>
        <div class=port-img>
          <div class=browser></div>
          <div class=img-source style="background-size: cover;background-repeat: no-repeat"></div>
        </div>
      </section>
    </article>
    <article class="port-wide img-andrei invisible" style="background-color:white">
      <section class=port-item>
        <div class=port-info>
          <h2 style="font-family: 'Signika', sans-serif;color:#45a7a6">PetCloud</h2>
          <h3 style="font-weight:700; color:#2E2E2E">PostgreSQL, Redis, ElasticSearch, Node, Angular, Docker</h3>
          <p style="color:#535353">PetCloud is Australia’s most trusted pet sitting community.With local &amp; national maps for searching, PetCloud
            makes it easy to find thousands of trusted Minders across the country ready to care for your pet. Simply search
            your Suburb and begin browsing through PetCloud Minders in your area.</p><a href=https://www.petcloud.com.au
            target=blank class="btn btn-outline" style="margin-bottom: 10px;color: #717171;
            border-color: #717171;">See the product</a></div>
        <div class=port-img>
          <div class=browser></div>
          <div class=img-source style="background-size: cover;background-repeat: no-repeat"></div>
        </div>
      </section>
    </article>
    <article class="port-wide img-ux" style="background-color:#f9f9f9">
      <section class=port-item>
        <div class=port-info>
          <h2 style="font-family: 'Signika', sans-serif;color:#3ca269;">Bold</h2>
          <h3 style="font-weight:700;color:#2E2E2E">MongoDB, ElasticSearch, Node, Angular, Docker, Kubernetes</h3>
          <p style="color:#535353">Bold has created the most comprehensive payouts platform, enabling businesses to send money to ​their recipients
            around the world in a variety of ways.</p><a href=https://gobold.com/ target=blank class="btn btn-outline" style="margin-bottom: 10px;color: #717171;
            border-color: #717171;">See the product</a></div>
        <div class=port-img>
          <div class=browser></div>
          <div class=img-source style="background-size: cover;background-repeat: no-repeat"></div>
        </div>
      </section>
    </article>
    <article class="port-wide img-ewb invisible" style="background-color:white">
      <section class=port-item>
        <div class=port-info>
          <h2 style="font-family: 'Signika', sans-serif;color:#ff5720;">Properly</h2>
          <h3 style="font-weight:700;; color:#2E2E2E">PostgreSQL, Redis, ElasticSearch, Node, React, Docker</h3>
          <p style="color:#535353">Millions of hosts and homeowners who rent their homes to guests need a proper cleaning management tool, as well
            as qualified cleaners to clean these homes. Their tool lets these homesharers effectively manage all their cleaning
            and guest turnover operations on their own from anywhere in the world, and find proven and trusted cleaners and
            other service providers in an instant.</p><a href=https://getproperly.com target=blank class="btn btn-outline"
            style="margin-bottom: 10px;color: #717171;
            border-color: #717171;">See the product</a></div>
        <div class=port-img>
          <div class=browser></div>
          <div class=img-source style="background-size: cover;background-repeat: no-repeat"></div>
        </div>
      </section>
    </article>
  </section>


  <!-- <section class=container-wide id="testimonials">
      <div>
        Matt Wilcox | LunaLights.org
      </div>
      <div>
          It was a fabulous experience working with Beard. Their work exceeded our expectations. Beard was able to transform a nebulous idea in our heads into an extraordinary brand and packaging design with a distinctive character.
      </div>
      <div>
        <img src="images/work/matt.jpeg"/>
      </div>
  </section> -->

  <section id="cta" class="section cta-section text-center home-cta-section">
    <div class="container letsbuildcontainer">
      <br/><br/><br/><br/><br/><br/><br/>
        <h4 class="title" style="margin-top: 30px;padding: 0px;font-size: 15px; font-weight:400;color:#b1d8ec;"><b>&nbsp;</b></h4>
        <h2 class="title" style="margin:30px; font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">We're *not* an agency.</h2>
        <p class="intro"> There is nothing wrong with agencies and there are many wonderful ones around. But over the years, the word "agency" has come to mean things we are not.</p><br/>
        <section>
          <div style="overflow:auto">
            <div class="col-sm-6 premium-summary">
              <ul class="media-list p-xlarge">
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/application-development.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;margin-bottom:0px">Demos every week.</p>
                    <p class="color-white" style="text-align:left">We demo the work we've done at the end of every week. If you're not satisfied with the demo. We waive the invoice off.</p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/programmer.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Talk directly to engineers</p>
                    <p class="color-white" style="text-align:left">You talk directly to someone who is actually working on your project. No project manager. No middle man. No fuss. </p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/inf.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Part time or Full time.</p>
                    <p class="color-white" style="text-align:left">We engage with you part time or full-time. Any number of hours a week is completely fine by us.</p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/artificial-intelligence.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Any technology.</p>
                    <p class="color-white" style="text-align:left">We work with any technology and on any stack. From Web to Mobile, JavaScript to Go and more.</p>
                  </div>
                </li>

              </ul>

            </div>




            <div class="col-sm-6 premium-summary">

              <ul class="media-list p-xlarge">
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/skyp.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Updates every day.</p>
                    <p class="color-white" style="text-align:left">We'll have a call with you and update you every day on Slack or Skype on work we've done. </p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/team.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Our team is yours.</p>
                    <p class="color-white" style="text-align:left">Hire anyone in our team. From app developers, to UI/UX designers, and even DevOps. We're all yours.</p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/transparency.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;;margin-bottom:0px">Transparency in work.</p>
                    <p class="color-white" style="text-align:left">Every minute of work we do is recorded and snapshotted for you to look at. We believe in 100% transparency. </p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left"> <img width="64" src="images/web-site.svg"> </div>
                  <div class="media-body">
                    <p class="color-white" style="text-align:left;font-weight:600;font-size: 19px;margin-bottom:0px">Beautiful apps. Guaranteed.</p>
                    <p class="color-white" style="text-align:left">We'll make your app and services amazing, beautiful, simple, and easy to use.</p>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <div class="text-center" style="margin-bottom:60px;">
            <a href="https://calendly.com/nawazdhandala/call" class="btn sign-up-btn-demo demo-btn" style="background-color:#0a5784;margin-top:60px;color:white">&nbsp;<i class="fa fa-phone" style="font-size:20px;"></i>&nbsp;Call us for an estimate&nbsp;</a><br/>
            <span style="font-size:12px; margin-top:5px;">or email us at <a href="mailto:projects@cloudboost.io" style="color:white">projects@cloudboost.io</a></span>
          </div>
        </section>
    </div>
  </section>

  <!--footer-->
  <footer class="footer">
    <% include ./partials/footer %>
  </footer>

  <!--scripts-->
  <% include ./partials/commonScripts %>


    <link rel="stylesheet" href="/consulting/css/layout.css">
    <script type="text/javascript">
      //Initialization
      $(document).ready(function () {
        mixpanel.track('Visted Consulting Page', {
          "visited": "visited Consulting Page"
        });
        amplitude.getInstance().logEvent('Visted Consulting Page', {
          "visited": "visited Consulting Page"
        });
      });
      //Initialization

      $("#expert-bcomepert-btn").click(function () {
        mixpanel.track('Consulting Click : Talk to us', {
          "Clicked": "Talk to us."
        });
        amplitude.getInstance().logEvent('Consulting Click : Talk to us', {
          "Clicked": "Talk to us."
        });
      });

      $("#expert-joinprogram-btn").click(function () {
        mixpanel.track('Consulting Click : Talk to us', {
          "Clicked": "Talk to us."
        });
        amplitude.getInstance().logEvent('Consulting Click : Talk to us', {
          "Clicked": "Talk to us."
        });
      });
    </script>



</body>

</html>
