<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost | Experts Program</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | Experts Program"/>
    <meta name="description" content="CloudBoost Experts Program">
    <meta name="keywords" content="cloudboost help, cloudboost support, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!"/>
    <!--common head links-->
    <% include ./partials/commonHead %>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->
   <div class="headline-bg contact-headline-bg" style="height:400px">
        </div><!--//headline-bg-->

        <!-- ******Pricing Section****** -->
        <section class="pricing section section-on-bg newpricingbg">
            <div class="container">
                <center>
                    <h1 style="color:white; font-size:44px;">
                        <span style="font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">Expert Program</span>
                    </h1>

                    <div>
                        <h3 style="color:white; font-size:30px; -family: 'Signika', sans-serif; font-weight: 300; ">
                            <span style="color:#b1d8ec; font-family: 'Signika', sans-serif; font-weight: 300;">Inspire developers and lead the way to build the next big thing the world will ever see.</span>
                        </h3>
                    </div>

                </center>
            </div>
        </section>

        <br/><br/><br/><br/><br/><br/><br/>


        <!-- ******Why Section****** -->
        <section id="why" class="section why" style="margin-top:-75px">
            <div class="container">
        
                <div class="row item">
                    <div class="content col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title"> Plan &amp; Organize Meetups </h3>
                        <div class="desc">
                            <p> Take charge in organizing dev meetups in your community (on any technology really). We’ll give you everything you need to plan awesome CloudBoost events, and connect you with other CloudBoost folks if they're available in your area. </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" style="height:150px" src="/images/meetup.png" alt="Meetups" />
                    </figure>
                </div><!--//item-->

                <div class="row item last-item">
                    <div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">Write on Technology</h3>
                        <div class="desc">
                            <p> Write on technology. Write blog posts, build sample applications and tools, and share technical content and experience with others.  </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-4 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive"  style="height:175px;margin-top:-50px" src="/images/write.png" alt="Write blogs and content." />
                    </figure>
                </div><!--//item-->

                <div class="row item">
                    <div class="content col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title">Build Great Apps</h3>
                        <div class="desc">
                            <p>As an active member of the Experts program you'll receive plenty of CloudBoost credit for any apps you are building on CloudBoost. Build your next big app and showcase it out to the world. We have some marketing folks here at CloudBoost which we can lend them to you to make a buzz.   </p>
                        </div>
                    </div><!--//content-->
                    <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                       <img class="img-responsive" style="height:190px" src="/images/app.png" alt="CloudBoost Credits" />
                    </figure>
                </div><!--//item-->

                <div class="row item last-item">
                    <div class="content col-md-5 col-sm-12 col-xs-12 col-md-push-6 col-sm-push-0 col-xs-push-0">
                        <h3 class="title">CloudBoost Credits and Swag!</h3>
                        <div class="desc">
                            <p>A ton of resources for you like CloudBoost Credits which will help you build apps on CloudBoost and a ton of swag (We know you love it!). We would love to help you to reach out to your local dev community and help them build great products. </p>

                        </div>

                    </div><!--//content-->
                    <figure class="figure col-md-4 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive" style="height:155px;margin-top:-40px" src="/images/gift.png" alt="CloudBoost Swag" />
                    </figure>
                </div><!--//item-->

                <div class="feature-lead text-center">
                     <h2 class="title text-center" style="font-size:35px; color:#565656">Be a part of CloudBoost Expert Program today.</h2>
                     <br/>
                     <p class="intro text-center">
                        <a id="expert-joinprogram-btn" class="typeform-share text-center btn btn-cta btn-cta-primary" style="font-size:20px;" href="https://cloudboostio.typeform.com/to/Piy8st" data-mode="1" target="_blank"><i class="fa fa-code" ></i>&nbsp;JOIN THE PROGRAM</a>
                    </p>
                </div>
            </div><!--//container-->
        </section><!--//why-->


<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>




    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>

    <!--scripts-->
    <% include ./partials/commonScripts %>
    <script type="text/javascript">
        //Initialization
        $(document).ready(function(){

               mixpanel.track('Visted Expert Program Page', {"visited":"visited Expert Program Page"});
               amplitude.getInstance().logEvent('Visted Expert Program Page', {"visited":"visited Expert Program Page"});

        });
        //Initialization

        $("#expert-bcomepert-btn").click(function(){

               mixpanel.track('ExpertsPage BecomeExpert Button', {"Clicked":"ExpertsPage BecomeExpert Button"});
               amplitude.getInstance().logEvent('ExpertsPage BecomeExpert Button', {"Clicked":"ExpertsPage BecomeExpert Button"});

        });

        $("#expert-joinprogram-btn").click(function(){

               mixpanel.track('ExpertsPage JoinProgram Button', {"Clicked":"ExpertsPage JoinProgram Button"});
               amplitude.getInstance().logEvent('ExpertsPage JoinProgram Button', {"Clicked":"ExpertsPage JoinProgram Button"});

        });

    </script>


</body>
</html>
