<!DOCTYPE html>
<html lang="en" if="twitter-wjs">

<head>
    <title>CloudBoost | Investors</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Investors" />
    <meta name="description" content="CloudBoost Investors.">
    <meta name="keywords" content="pricing, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!" />
    <!--common head links-->
    <% include ./partials/commonHead %>
</head>

<body>
    <section class="contact-headline-bg">
        <!--header-->
        <header id="header" class="header">
            <% include ./partials/header %>
        </header>

        <!--Content-->
        <!--********************************************************************************************-->
        <!-- ******Contact Section****** -->
        <section class="contact-section section section-on-bg development-service">
            <div class="container">
                <center>
                    <h1 style="color:white; font-size:44px; font-family: 'Signika', sans-serif; font-weight: 300;">
                        <span style="font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">Investors</span>
                    </h1>

                    <div style="margin-bottom:70px;">
                        <h3 style="color:white; font-size:30px; font-family: 'Signika', sans-serif; font-weight: 300;">
                            <span style="color:#b1d8ec; font-family: 'Signika', sans-serif; font-weight: 300;">Join investors who have invested in CloudBoost.</span>

                        </h3>
                    </div>

                </center>
            </div>
            <!--//container-->
        </section>

    </section>

    <section class="trusted-by section why">
        <div class="container">
            <div class="row text-center">
                <h1>We’re supported by world’s leading accelerators and investors.</h1>

                <div class="flex-general-column-wrapper-center comps-usingus-div" style="margin-top:40px;">
                    <div class="flex-general-row-wrapper comps-usingus-wrapper">
                        <div class="comps-usingus-bx" style="height: 75px;margin-top: -4px;">
                            <a href="http://www.startupchile.org/" class="href">
                                <img src="/images/StartUP-Chile-logo.png" style="height: 75%;" alt="Investors : StartUP-Chile">
                            </a>
                        </div>
                        <div class="comps-usingus-bx" style="height: 65px;">
                            <a href="http://boston.masschallenge.org/" class="href">
                                <img src="/images/MassChallenge_Logo.jpeg" style="height: 80%;" alt="Investors : MassChallenge">
                            </a>
                        </div>
                        <div class="comps-usingus-bx" style="height: 65px;">
                            <a href="http://parallel18.com/" class="href">
                                <img src="/images/p18.png" style="height: 85%;" alt="Investors : Parallel18">
                            </a>
                        </div>
                        <div class="comps-usingus-bx" style="height: 65px;">
                            <a href="https://www.progress.com/" class="href">
                                <img src="/images/progress-logo.png" style="height: 100%;" alt="Investors : progress">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-general-column-wrapper-center" style="width:100%;padding-top:2px;padding-bottom:16px;margin-top:20px;margin-bottom:20px">
            <div class="flex-general-column-wrapper-center" style="position:relative !important;width:100%">
                <div class="flex-general-column-wrapper-center" style="cursor:pointer !important;z-index:99999;width:160px;width:100%;bottom:-20px">
                    <a href="/partners" target="_blank" style="font-size:16px !important;cursor:pointer !important">We also partner with agencies
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>

    </section>

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>

    <!--scripts-->
    <% include ./partials/commonScripts %>
        <link rel="stylesheet" href="/css/enterprise.css">
        <script async type="text/javascript" src="/controllers/enterpriseController.js">

        </script>
</body>

</html>