<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost | Join the mafia.</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | NoSQL Database as a Service"/>
    <meta name="description" content="CloudBoost Careers : Join us and help us change the world.">
    <meta name="keywords" content="work at cloudboost, cloudboost careers , baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!"/>
    <!--common head links-->
    <% include ./partials/commonHead %>
</head>

<body>

<!--Content-->
<!--********************************************************************************************-->
    <div class="wrapper">
        <!-- ******HEADER****** -->
        <header class="header navbar-fixed-top">
            <div class="container">
                <h1 class="careersHeader">
                   <img src='/images/Logo.png' height="40px" img="HackerBay" />
                </h1><!--//logo-->
                <nav class="main-nav navbar-right" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->
                    <div id="navbar-collapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item nav-item-main-site last"><a href="/"><i class="fa fa-home"></i> Back to main site</a></li>
                        </ul><!--//nav-->

                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->
            </div><!--//container-->
        </header><!--//header-->

        <section class="featured-blog-posts section">
            <div class="flexslider blog-slider" style="margin-top:60px;">
                <ul class="slides">
                    <li class="slide slide-1">
                        <div class="flex-caption container">
                            <h3 class="title">
                                <span style="font-weight:normal;font-size:35px;margin-top:20px">At HackerBay,</span>
                                <br/> We believe J-O-B is a dirty word.
                            </h3>
                            <div class="meta">Get paid to play, learn, grow and work. <br/> From a good pay package, to flexible work and vacation policy and to fly weeks (That's new) <br/> We have everything for to make HackerBay your new home. </div>
                        </div><!--//flex-caption-->
                    </li>
                    <li class="slide slide-2">
                        <div class="flex-caption container">
                            <h3 class="title"><span style="font-weight:normal;font-size:35px;margin-top:20px">If you're not pushing boundaries everyday in your current job. </span><br/>Then let's - Quit!</h3>
                            <div class="meta">Here's what we look for, People who dream big, are hustlers, who get $H*t done and are fun to work with. <br/>That's all it takes to work with us.</div>
                        </div><!--//flex-caption-->
                    </li>
                    <li class="slide slide-3">
                        <div class="flex-caption container">
                            <h3 class="title"><span style="font-weight:normal;font-size:35px;margin-top:20px">Be a part of</span><br/> HackerBay Mafia!</h3>
                            <div class="meta">Here, We dont boss people around - Everyone is his own boss. <br/> We have a gigantic list of things we need to do, and everyone contributes to it. <br/> That's a new way fo working, Isn't it?</div>
                        </div><!--//flex-caption-->
                    </li>
                </ul><!--//slides-->
            </div><!--//flexslider-->

        </section><!--//featured-blog-posts-->

        <!-- ******BLOG LIST****** -->
        <div class="blog container">
            <div class="row">
                <div id="blog-mansonry" class="blog-list">
                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb" style="margin:0px">
                               <div class="text-center" style="height:150px;color:white;font-size:55px">
                                   <i class="fa fa-globe" style="margin-top:50px"></i>
                               </div>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title">Believe you can change the world.</h3>
                                <div class="post-entry">
                                    <p>Everyone of us, right from the founders dreams big and we believe that we can change this world one day. We need people who motivates their colleagues, and pump energy into one another. That's what we do all day - We dream!.</p>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                        <li class="post-time post_date date updated">What we look for.</li>
                                    </ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb" style="margin:0px">
                               <div class="text-center" style="height:150px;color:white;font-size:55px">
                                   <i class="fa fa-code" style="margin-top:50px"></i>
                               </div>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title">A Hacker.</h3>
                                <div class="post-entry">
                                    <p>We need complete geeks, hackers, and people who play with tons of code. We need people to dive in, right from Day 1 they're hired. We heart people who write code.</p>

                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                        <li class="post-time post_date date updated">What we look for.</li>
                                    </ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb" style="margin:0px">
                                <div class="text-center" style="height:150px;color:white;font-size:55px">
                                   <i class="fa fa-asterisk" style="margin-top:50px"></i>
                               </div>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title">Hustle Everyday</h3>
                                <div class="post-entry">
                                   Our ‘get sh*t done’ mantra. There’s always loads to do and often half as much time. Just do what you have to do to get something done.

                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                        <li class="post-time post_date date updated">What we look for.</li>
                                    </ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb" style="margin:0px">
                                <div class="text-center" style="height:150px;color:white;font-size:55px">
                                   <i class="fa fa-comments-o " style="margin-top:50px"></i>
                               </div>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title">Fun, fun, fun.</h3>
                                <div class="post-entry">
                                    <p>We never hire someone if we don't enjoy having a beer or a lunch with them. We make sure, everyone we hire - is fun to work with atleast.</p>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                        <li class="post-time post_date date updated">What we look for.</li>
                                    </ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb" style="margin:0px">
                                <div class="text-center" style="height:150px;color:white;font-size:55px">
                                   <i class="fa fa-paper-plane" style="margin-top:50px"></i>
                               </div>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title">Fly Weeks</h3>
                                <div class="post-entry">
                                    <p>We fly you and your team to an exotic place in India, Goa (for example) and we work for a week right on the beach-front, or from an exotic mountain tops, and the best part is - We do this a lot! <br/> Well Goa, Hampi, Ooty, Manali are all on our list. To help you blow off some steam and be productive. Want to add more? Do let us know. We're all ears.</p>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                        <li class="post-time post_date date updated">What we have for you.</li>
                                    </ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb" style="margin:0px">
                               <div class="text-center" style="height:150px;color:white;font-size:55px">
                                   <i class="fa fa-briefcase" style="margin-top:50px"></i>
                               </div>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title">Work when you want.</h3>
                                <div class="post-entry">
                                <p>We dont believe in 9-5 work culture. We let you walk in to the office when you want and leave too! <br/> Our job is to make office your home and make your colleagues your family. Make it as comfortable, so you never want to go back home.</p>

                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                        <li class="post-time post_date date updated">What we have for you.</li>
                                    </ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb" style="margin:0px">
                               <div class="text-center" style="height:150px;color:white;font-size:55px">
                                   <i class="fa fa-plane" style="margin-top:50px"></i>
                               </div>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title">Vacation Policy?</h3>
                                <div class="post-entry">
                                    <p>We have a flexible vacation policy and infact, we encourage people to take a break off from work. We know how important it is to blow off steam, and make room in your lives for your family. - We're people too!</p>
                                </div>
                                 <div class="meta">
                                    <ul class="meta-list list-inline">
                                        <li class="post-time post_date date updated">What we have for you.</li>
                                    </ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb" style="margin:0px">
                                <div class="text-center" style="height:150px;color:white;font-size:55px">
                                   <i class="fa fa-beer" style="margin-top:50px"></i>
                               </div>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title">Office party every month.</h3>
                                <div class="post-entry">
                                    <p>Office party every month. <br/>We party like there's no tomorrow. Yes, we work hard. But, we party harder.<br/>Bring in your instruments, or the loudest speaker you can get. We have pizza's and booze for you </p>
                                </div>
                                 <div class="meta">
                                    <ul class="meta-list list-inline">
                                        <li class="post-time post_date date updated">What we have for you.</li>
                                    </ul><!--//meta-list-->
                                </div><!--meta-->
                            </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                    <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb" style="margin:0px">
                                <div class="text-center" style="height:150px;color:white;font-size:55px">
                                   <i class="fa fa-bitcoin" style="margin-top:50px"></i>
                               </div>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title">We pay you good.</h3>
                                <div class="post-entry">
                                    <p>We have one of the competitive pay packages in the industry. We make sure, you're paid enough so you never think about money. <br/> All of us, never work for money. We work because we enjoy working and more importantly, enjoy challenges we face in our work everyday. We love to push boundaries and yes, make world a better place to live in.</p>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                        <li class="post-time post_date date updated">What we have for you.</li>
                                    </ul><!--//meta-list-->
                                </div><!--meta-->
                             </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                      <article class="post col-md-4 col-sm-6 col-xs-12">
                        <div class="post-inner">
                            <figure class="post-thumb" style="margin:0px">
                               <div class="text-center" style="height:150px;color:white;font-size:55px">
                                   <i class="fa fa-university" style="margin-top:50px"></i>
                               </div>
                            </figure><!--//post-thumb-->
                            <div class="content">
                                <h3 class="post-title">Learn something new every week.</h3>
                                <div class="post-entry">
                                    <p>We make sure you learn something new every single week. Be it technology, business, art, music, or even yoga and more. We make sure every one who is working with us grows as we grow too!</p>
                                </div>
                                <div class="meta">
                                    <ul class="meta-list list-inline">
                                        <li class="post-time post_date date updated">What we have for you.</li>
                                    </ul><!--//meta-list-->
                                </div><!--meta-->
                             </div><!--//content-->
                        </div><!--//post-inner-->
                    </article><!--//post-->

                </div><!--//blog-list-->

                <div class="contact-lead text-center" style="margin-bottom:50px;margin-top:50px">
                    <h3 class="title" style="color:#5f5f5f">Want to be the part of the family? </h3> <br/>
                    <a id="joinus-apply-btn" class="btn btn-cta btn-cta-primary" target="_blank" href="https://angel.co/cloudboost-io/jobs">Apply here.</a>
                </div>
            </div><!--//row-->


        </div><!--//blog-->
    </div><!--//wrapper-->

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>

    <!--scripts-->
    <% include ./partials/commonScripts %>

<!--********************************************************************************************-->
    <script type="text/javascript" src="/dist/js/plugins.js"></script>

    <!-- blog page specific js starts -->
    <script type="text/javascript" src="/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/plugins/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/blog.js"></script>
    <!-- blog page specific js ends -->

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript">
        //Initialization
        $(document).ready(function(){

               mixpanel.track('Visted Join us Page', {"visited":"visited join Us Page"});
               amplitude.getInstance().logEvent('Visted Join us Page', {"visited":"visited join Us Page"});

        });
        //Initialization

        $("#joinus-apply-btn").click(function(){

               mixpanel.track('JoinUsPage ApplyHere Button', {"Clicked":"JoinUsPage ApplyHere Button"});
               amplitude.getInstance().logEvent('JoinUsPage ApplyHere Button', {"Clicked":"JoinUsPage ApplyHere Button"});

        });
    </script>

</body>
</html>
