<!DOCTYPE html>
<html lang="en">

<head>
    <title>CloudBoost | Partners</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | Partners" />
    <meta name="description" content="CloudBoost Partners : Join the CloudBoost Partner Program to earn client revenue share and access exclusive resources.">
    <meta name="keywords" content="partners, become a cloudboost partner,  baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!" />
    <!--common head links-->
    <% include ./partials/commonHead %>
        <link rel="stylesheet" type="text/css" href="/css/partners.css" />
</head>

<body>

    <!--header-->
    <header id="header" class="header">
        <% include ./partials/header %>
    </header>

    <!--Content-->
    <!--********************************************************************************************-->
    <div class="headline-bg" style="height:400px">
    </div>
    <!--//headline-bg-->

    <!-- ******Pricing Section****** -->
    <section class="pricing section section-on-bg newpricingbg">
        <div class="container">
            <center>
                <h1 style="color:white; font-size:44px;">
                    <span style="font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">Partner Program</span>
                </h1>

                <div>
                    <h3 style="color:white; font-size:30px; -family: 'Signika', sans-serif; font-weight: 300; ">
                        <span style="color:#b1d8ec; font-family: 'Signika', sans-serif; font-weight: 300;">We help freelancers and agencies grow quicker. Let us help rocket fuel your growth.</span>
                    </h3>
                </div>

            </center>
        </div>
    </section>



    <section id="why" class="section why">
        <div class="container">

            <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                    <div class="quote">
                        <div class="quote-profile">
                            <div class="text-center" style="background:#328ABA; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                <p style="font-size:2.3em"><i class="fa fa-book"></i></p>
                            </div>
                        </div>
                        <!--//profile-->
                        <div class="quote-content">
                            <p><b>Exclusive Resources : </b></a> We have exclusive resources for you so you dev team gets up and running as quickly as possible. We have made sure our API is super simple to understand and in the long run will save you a ton
                                of development time. </p>
                        </div>
                        <!--//quote-content-->
                    </div>
                    <!--//quote-->
                </div>
                <!--//content-->

            </div>
            <!--//item-->

            <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                    <div class="quote">
                        <div class="quote-profile">
                            <div class="text-center" style="background:#328ABA; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                <p style="font-size:2.3em"><i class="fa fa-life-ring"></i></p>
                            </div>
                        </div>
                        <!--//profile-->
                        <div class="quote-content">
                            <p><b>Great Support for Partners: </b></a> We have dedicated support team to help you with any problems you have using the product, and your app development. We have a dedicated helpline for you to reach out. </p>
                        </div>
                        <!--//quote-content-->
                    </div>
                    <!--//quote-->
                </div>
                <!--//content-->

            </div>
            <!--//item-->

            <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                    <div class="quote">
                        <div class="quote-profile">
                            <div class="text-center" style="background:#328ABA; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                <p style="font-size:2.3em"><i class="fa fa-flag"></i></p>
                            </div>
                        </div>
                        <!--//profile-->
                        <div class="quote-content">
                            <p><b> CloudBoost Branding : </b> Let's make it a little easier for you to acquire new clients. Have "CloudBoost Partner" logo on your website. That's one reason to brag about. </p>
                        </div>
                        <!--//quote-content-->
                    </div>
                    <!--//quote-->
                </div>
                <!--//content-->

            </div>
            <!--//item-->

            <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                    <div class="quote">
                        <div class="quote-profile">
                            <div class="text-center" style="background:#328ABA; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                <p style="font-size:2.3em"><i class="fa fa-rocket"></i></p>
                            </div>
                        </div>
                        <!--//profile-->
                        <div class="quote-content">
                            <p><b> No limits on resources in development : </b> We never bog you down on the resources you use during development. You have all our Cloud. Well, that's one reason to use us and build your client apps on it. </p>
                        </div>
                        <!--//quote-content-->
                    </div>
                    <!--//quote-->
                </div>
                <!--//content-->

            </div>
            <!--//item-->


            <div class="row item" style="border-bottom:0px; margin-bottom:-70px">
                <div class="content col-md-offset-1 col-md-9 col-sm-12 col-xs-12">
                    <div class="quote">
                        <div class="quote-profile">
                            <div class="text-center" style="background:#328ABA; padding:10px; border-radius:50%; width:75px; height:75px; color:white;">
                                <p style="font-size:2.3em"><i class="fa fa-flash"></i></p>
                            </div>
                        </div>
                        <!--//profile-->
                        <div class="quote-content">
                            <p><b> Build complicated features with ease : </b> We help you build complicated features with ease, by using our simple API - That's jack of all trades. </p>
                        </div>
                        <!--//quote-content-->
                    </div>
                    <!--//quote-->
                </div>
                <!--//content-->

            </div>
            <!--//item-->

        </div>
        <!--//container-->

        <br/><br/><br/><br/><br/><br/>

        <div class="flex-general-column-wrapper-center" style="height: auto;width:100%;">

            <div style="padding:40px; width:60%; height:auto;background-color: #F9F9F9;border-radius: 8px;border:1px solid #E5E5E5;" class="partner-form">
                <div class="solo-horizontal-center" style="height: 50px; width:100%;margin-bottom: 10px;">
                    <h4 style="color:gray;font-size: 28px;
    font-weight: 300;">Partner Application Form</h4>
                </div>

                <!--Each Field-->
                <div style="height:60px;margin-top: 35px;">

                    <!--Title-->
                    <div>
                        1.What's your company name?
                    </div>

                    <!--Field-->
                    <div style="width:100%; min-width: 200px; margin-top: 3px;">
                        <input id="pform-companyname" type="text" class="default-inputfield newpartner-field" style="width:100%;height: 30px;">
                    </div>

                </div>
                <!--/Each Field-->

                <!--Each Field-->
                <div style="height:60px;margin-top: 20px;">

                    <!--Title-->
                    <div>
                        2. Description of the company
                    </div>

                    <!--Field-->
                    <div style="width:100%; min-width: 200px; margin-top: 3px;">
                        <textarea id="pform-companydescri" rows="4" cols="26" class="default-inputfield newpartner-field" style="width:100%;"></textarea>
                    </div>

                </div>
                <!--/Each Field-->


                <!--Each Field-->
                <div style="height:60px;margin-top: 80px;">

                    <!--Title-->
                    <div>
                        3.What's your name?
                    </div>

                    <!--Field-->
                    <div style="width:100%; min-width: 200px; margin-top: 3px;">
                        <input id="pform-personname" type="text" required class="default-inputfield newpartner-field" style="width:100%;height: 30px;">
                    </div>

                </div>
                <!--/Each Field-->

                <!--Each Field-->
                <div style="height:60px; min-width: 200px; margin-top: 20px;">

                    <!--Title-->
                    <div>
                        4.What's your business email?
                    </div>

                    <!--Field-->
                    <div style="width:100%;margin-top: 3px;">
                        <input id="pform-companyemail" required type="email" class="default-inputfield newpartner-field" style="width:100%;height: 30px;">
                    </div>

                </div>
                <!--/Each Field-->


                <!--Each Field-->
                <div style="height:60px;min-width: 200px; margin-top: 20px;">

                    <!--Title-->
                    <div>
                        5.What's your business contact number?
                    </div>

                    <!--Field-->
                    <div style="width:100%;min-width: 200px; margin-top: 3px;">
                        <input id="pform-companycontact" required type="text" class="default-inputfield newpartner-field" style="width:100%;height: 30px;">
                    </div>

                </div>
                <!--/Each Field-->

                <!--Each Field-->
                <div style="height:60px;margin-top: 20px;">

                    <!--Title-->
                    <div>
                        6.What's your mobile number?
                    </div>

                    <!--Field-->
                    <div style="width:100%; min-width: 200px; margin-top: 3px;">
                        <input id="pform-personmobile" required type="text" class="default-inputfield newpartner-field" style="width:100%;height: 30px;">
                    </div>

                </div>
                <!--/Each Field-->

                <!--Each Field-->
                <div style="height:60px;margin-top: 20px;">

                    <!--Title-->
                    <div>
                        7. What's your company's address?
                    </div>

                    <!--Field-->
                    <div style="width:100%;min-width: 200px; margin-top: 3px;">
                        <textarea id="pform-companyaddrs" required rows="4" cols="26" class="default-inputfield newpartner-field" style="width:100%;"></textarea>
                    </div>

                </div>
                <!--/Each Field-->

                <!--Each Field-->
                <div style="height:60px;margin-top: 90px;">

                    <!--Title-->
                    <div>
                        8. What's your company's website?
                    </div>

                    <!--Field-->
                    <div style="width:100%;min-width: 200px; margin-top: 3px;">
                        <input id="pform-companywebsite" required type="text" class="default-inputfield newpartner-field" style="width:100%;height: 30px;">
                    </div>

                </div>
                <!--/Each Field-->

                <!--Each Field-->
                <div style="height:60px;margin-top: 30px;">

                    <!--Title-->
                    <div>
                        9.Which country is your company based out of?
                    </div>

                    <!--Field-->
                    <div style="width:100%;min-width: 200px; margin-top: 3px;">
                        <input id="pform-companycntry" required type="text" class="default-inputfield newpartner-field" style="width:100%;height: 30px;">
                    </div>

                </div>
                <!--/Each Field-->


                <!--Each Field-->
                <div style="height:60px;margin-top: 30px;">

                    <!--Title-->
                    <div>
                        10.What kind of apps do you build or specialize in?
                    </div>

                    <!--Field-->
                    <div style="width:100%;min-width: 200px; margin-top: 3px;">
                        <input id="pform-apps" type="text" required class="default-inputfield newpartner-field" style="width:100%;height: 30px;">
                    </div>

                </div>
                <!--/Each Field-->

                <!--Each Field-->
                <div style="height:60px;margin-top: 30px;">

                    <!--Title-->
                    <div>
                        11.What is your team size?
                    </div>

                    <!--Field-->
                    <div style="width:100%;min-width: 200px;margin-top: 3px;">
                        <input id="pform-companysize" required type="text" class="default-inputfield newpartner-field" style="width:100%;height: 30px;">
                    </div>

                </div>
                <!--/Each Field-->

                <!--Each Field-->
                <div style="height:60px;margin-top: 40px;">

                    <!--Field-->
                    <div class="flex-general-row-wrapper">
                        <div style="width:20px;height: 20px;">
                            <input id="cbagrmnt" type="checkbox" class="default-inputfield" style="width:100%;height: 100%;margin-top: -1px;">
                        </div>

                        <div class="solo-vertical-center" style="height: 10px;margin-left: 7px;margin-top: 4px;">
                            <span>You accept to our partner <a href="/terms" target="_blank">terms and conditions</a>.</span>
                        </div>
                    </div>

                </div>
                <!--/Each Field-->


                <!--Each Field-->
                <div style="height:60px;margin-top: 10px; text-center">

                    <!--Field-->
                    <div id="pform-bfr-sbmt" class="flex-general-row-wrapper text-center">
                        <button id="sbmt-partnr-btn" class="text-center btn btn-cta" style="background-color: #3691C1 !important;
    color: white;
    font-size: 20px;margin-left: auto;
    margin-right: auto;">Submit</button>
                    </div>

                    <div id="pform-wyl-sbmtng" class="flex-general-row-wrapper">
                        <button class="default-inputfield" style="width: 150px;height: 30px;background-color: #0ba7c0;;color:white"><i class="fa fa-spinner fa-spin"></i>&nbsp;Saving..</button>
                    </div>

                </div>
                <!--/Each Field-->

                <!--Each Field-->
                <div style="margin-top: 10px;">

                    <!--Field-->
                    <div class="flex-general-row-wrapper">
                        <span id="pform-sbmt-error" style="color:red;"></span>
                        <span id="pform-sbmt-success" style="color:#878787;"></span>
                    </div>

                </div>
                <!--/Each Field-->

            </div>

        </div>

    </section>

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>

    <!--scripts-->
    <% include ./partials/commonScripts %>
        <script type="text/javascript" src="/controllers/partnersController.js"></script>
        <script type="text/javascript">
            //Initialization
            $(document).ready(function() {
                if (!__isDevelopment) {
                    /****Tracking************/
                    mixpanel.track('Visted Patners Page', {
                        "visited": "visited Patners Page"
                    });
                    amplitude.getInstance().logEvent('Visted Patners Page', {
                        "visited": "visited Patners Page"
                    });
                    /****End of Tracking*****/
                }
            });
            //Initialization
        </script>

        <!--********************************************************************************************-->

</body>

</html>
