<!DOCTYPE html>
<html lang="en">

<head>
    <title>CloudBoost | Privacy Policy</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | Privacy Policy" />
    <meta name="description" content="CloudBoost is one complete cloud platform for your apps. Build cross-platform apps in minutes with our powerful platform. CloudBoost can power your app’s backend, auth, storage and more. Focus on creating extraordinary experiences for your users, we’ll take care of the rest.">
    <meta name="keywords" content="partners, become a cloudboost partner,  baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!" />
    <!--common head links-->
    <% include ./partials/commonHead %>
</head>

<body>

    <!--header-->
    <header id="header" class="header">
        <% include ./partials/header %>
    </header>

    <!--Content-->
    <!--********************************************************************************************-->

    <div class="headline-bg about-headline-bg">
    </div>
    <!--//headline-bg-->

    <!-- ******Video Section****** -->
    <section class="story-section section section-on-bg">
        <h1 style="color:white; font-size:44px;" class="text-center">
          <span style="font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">Privacy Policy</span>
      </h1>
        <div class="story-container container text-center">
            <div class="story-container-inner">
                <div class="about">
                    <p>
                        This Privacy Policy explains how information about you is collected, used and disclosed by HackerBay Software Private Limited. (“CloudBoost”). This Privacy Policy applies to information we collect when you use our website <u><a href="http://www.cloudboost.io">www.cloudboost.io</a></u>                        and CloudBoost’s products and services (collectively, the “Services”). The use of information collected through our service shall be limited to the purpose of providing the service for which the Client has engaged CloudBoost.
                    </p>

                    <p>
                        We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy, and in some cases, we may provide you with more prominent notice (such as adding a statement to our homepage or
                        sending you an email notification). We encourage you to review the Privacy Policy whenever you access the Services to stay informed about our information practices and the ways you can help protect your privacy.
                    </p>
                    <p>
                        Collection of Information
                    </p>
                    <p>
                        Information You Provide to Us
                    </p>
                    <p>
                        We collect information you provide directly to us. For example, we collect information when you create an account, use the Services, fill out a form, request customer support or otherwise communicate with us. The types of information we may collect include
                        your email address, postal address and other contact or identifying information you choose to provide.
                    </p>
                    <p>
                        Information We Collect Automatically When You Use the Services
                    </p>
                    <p>
                        When you access or use our Services, we automatically collect information about you, including:
                    </p>
                    <ul>
                        <li>
                            <strong>Log Information</strong> : We log information about your use of the Services, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our Services.
                        </li>
                        <li>
                            <strong>Device Information</strong> : We collect information about the computer or mobile device you use to access our Services, including the hardware model, operating system and version, unique device identifiers and mobile
                            network information.
                        </li>
                        <li>
                            <strong>Information Collected by Cookies and Other Tracking Technologies</strong> : We use various technologies to collect information. This may include sending cookies to your computer or mobile device. Cookies are small data
                            files stored on your hard drive or in device memory that help us to improve our Services and your experience, see which areas and features of our Services are popular and count visits. We may also collect information using
                            web beacons (also known as “gifs,” “pixel tags” and “tracking pixels”). Web beacons are electronic images that may be used in our Services or emails and help deliver cookies, count visits, understand usage and campaign effectiveness,
                            and determine whether an email has been opened and acted upon. For more information about cookies and how to disable them, please see “Your Information Choices” below.
                        </li>
                    </ul>
                    <p>
                        Information We Collect From Other Sources
                    </p>
                    <p>
                        We may also obtain information from other sources and combine that with information we collect through our Services. If you have opted-in to receive e-mail communications from a Third Party Company and later wish to discontinue receipt of these e-mails,
                        please contact the Third Party Company directly to update your preferences. The privacy policies of our Third Party Companies may apply to the use and disclosure of your Personal Data that we collect and disclose to such Third
                        Party Companies. Because we do not control the privacy practices of our Third Party Companies, you should read and understand their privacy policies.
                    </p>
                    <p>
                        Use of Information
                    </p>
                    <p>
                        We use information about you for various purposes, including to:
                    </p>
                    <ul>
                        <li>
                            Provide, maintain and improve our Services;
                        </li>
                    </ul>
                    <p>
                        · Provide and deliver the products and services you request, process transactions, and to send you related information, including confirmations and invoices;
                    </p>
                    <p>
                        · Send you technical notices, updates, security alerts and support and administrative messages;
                    </p>
                    <p>
                        · Respond to your comments, questions and requests and provide customer service;
                    </p>
                    <p>
                        · Assist with the development of our Services and other purposes related to CloudBoost’s business;
                    </p>
                    <p>
                        · Monitor and analyze trends, usage and activities in connection with our Services; and
                    </p>
                    <ul>
                        <li>
                            Process and deliver contest entries and rewards.
                        </li>
                    </ul>
                    <p>
                        By accessing and using the Services, you consent to the processing and transfer of your information in and to the United States and other countries.
                    </p>
                    <p>
                        Sharing of Information
                    </p>
                    <p>
                        We may share personal information about you as follows:
                    </p>
                    <p>
                        · With third party vendors, consultants and other service providers who need access to your information to carry out work on our behalf;
                    </p>
                    <p>
                        · If we believe disclosure is reasonably necessary to comply with any applicable law, regulation, legal process or governmental request; to enforce applicable user agreements or policies, including our Terms of Use; and to protect CloudBoost, our users
                        or the public from harm or illegal activities;
                    </p>
                    <p>
                        · In connection with, or during negotiations of, any merger, sale of company assets, financing or acquisition of all or a portion of our business to another company; and
                    </p>
                    <p>
                        · With your consent, including if we notify you through our Services that the information you provide will be shared in a particular manner and you provide such information.
                    </p>
                    <p>
                        We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.
                    </p>
                    <p>
                        Third Party Analytics
                    </p>
                    <p>
                        We allow third parties to serve advertisements on our behalf across the Internet and to provide analytics services. These third parties may use cookies, web beacons and other technologies to collect information about your use of the Services and other
                        websites, including your IP address, web browser, pages viewed, time spent on pages, links clicked and conversion information. This information may be used by CloudBoost and third parties to, among other things, analyze and track
                        data, deliver advertising and to better understand your use of the Services.
                    </p>
                    <p>
                        Specifically, CloudBoost uses an integrated version of Google Analytics. You may opt out from Google Analytics by use the<a href="https://www.google.com/settings/ads/onweb/" target="_blank">Google’s Ads Preferences Manager. We also encourage you to use the </a>                        <a href="https://tools.google.com/dlpage/gaoptout/" target="_blank">Google Analytics opt-out browser add-on</a>.
                    </p>
                    <p>
                        Security
                    </p>
                    <p>
                        CloudBoost takes reasonable measures to help protect personal information from loss, theft, misuse and unauthorized access, disclosure, alteration and destruction.
                    </p>
                    <p>
                        Your Information Choices
                    </p>
                    <p>
                        Account Information
                    </p>
                    <p>
                        You may update, correct or delete information about you at any time by emailing us at <a href="mailto:info@cloudera.com">info@CloudBoost.io</a>. If you wish to delete or suspend your account, please email us at <a href="mailto:info@cloudera.com">info@CloudBoost.io</a>,
                        but note that we may retain certain information as required by law or for legitimate business purposes. We may also retain cached or archived copies of your information for a certain period of time.
                    </p>
                    <p>
                        Cookies
                    </p>
                    <p>
                        Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Removing or rejecting browser cookies does not necessarily affect third party flash cookies used in
                        connection with our Services. To delete or disable flash cookies please visit <a href="www.adobe.com/products/flashplayer/security">Adobe flashplayer security</a> for more information. Please note that if
                        you choose to remove or reject cookies, this could affect the availability and functionality of our Services.
                    </p>
                    <p>
                        Promotional Communications
                    </p>
                    <p>
                        We will periodically send you free newsletters and e-mails that directly promote the use of our site or the purchase of our products or services. When you receive newsletters or promotional communications from us, you may indicate a preference to stop
                        receiving further communications from us – you will have the opportunity to “opt-out” by following the unsubscribe instructions provided in the e-mail you receive or by contacting us directly. Should you decide to opt-out of receiving
                        future mailings, we may share your e-mail address with third parties to ensure that you do not receive further communications from third parties. Despite your indicated e-mail preferences, we may send you notices of any updates
                        to our Terms of Service or Privacy Policy.
                    </p>


                </div>
                <!--//about-->


            </div>
            <!--//story-container-->
        </div>
        <!--//container-->
    </section>
    <!--//story-video-->

    <!-- ******FOOTER****** -->

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>

    <!--scripts-->
    <% include ./partials/commonScripts %>
        <script type="text/javascript">
            //Initialization
            $(document).ready(function() {
                if (!__isDevelopment) {
                    /****Tracking************/
                    mixpanel.track('Visted Privacy Page', {
                        "visited": "visited Privacy Page"
                    });
                     amplitude.getInstance().logEvent('Visted Privacy Page', {
                        "visited": "visited Privacy Page"
                    });
                    /****End of Tracking*****/
                }
            });
            //Initialization
        </script>

</body>

</html>
