<section class="sdlc-container">  
  <div class="sdlc-description">
    <a class="title-link" href="#">
      <h2>200% Faster DevOps Lifecycle</h2>
    </a>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
    <p></p>
  </div>
  <div class="sdlc-table-container">
    <p class="sdlc-table-label single-application-label">Fyipe monitors your website, dashboards, API's, and more</p>
    <p class="sdlc-table-label separate-application-label">Fyipe can replace</p>
    <div class="sdlc-table">
      <%# Column 1 %>
      <div class="sdlc-column">
        <div class="stage-container">
          <a href="#">
            <img src="/img/fpo-monitor.svg" alt="Manage">
          </a>
          <a href="#">
            <p>Monitoring</p>
          </a>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="">
              <div class="competitor-tooltip">
                <p class="tooltip-text">Pingdom</p>
                <div class="tooltip-caret"></div>
              </div>
              <img alt="One" class="competitor-logo" src="/img/competitors/pingdom.jpg">
            </a>
          </div>
        </div>
      </div>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
          <a href="#">
            <img src="/img/fpo-oncall.svg" alt="Manage">
          </a>
          <a href="#">
            <p>On Call</p>
          </a>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Ipsum and all that here</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="">
              <div class="competitor-tooltip">
                <p class="tooltip-text">PagerDuty</p>
                <div class="tooltip-caret"></div>
              </div>
              <img alt="One" class="competitor-logo" src="/img/competitors/pager-duty.png">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
          <a href="#">
            <img src="/img/fpo-status-line.svg" alt="Manage">
          </a>
          <a href="#">
            <p>Status Page</p>
          </a>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="">
              <div class="competitor-tooltip">
                <p class="tooltip-text">StatusPage</p>
                <div class="tooltip-caret"></div>
              </div>
              <img alt="One" class="competitor-logo" src="/img/competitors/statuspage-logo.png">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
          <a href="#">
            <img src="/img/fpo-apm.svg" alt="Manage">
          </a>
          <a href="#">
            <p>APM</p>
          </a>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="">
              <div class="competitor-tooltip">
                <p class="tooltip-text">NewRelic</p>
                <div class="tooltip-caret"></div>
              </div>
              <img alt="One" class="competitor-logo" src="/img/competitors/newrelic-logo.png">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
          <a href="#">
            <img src="/img/fpo-incidents.svg" alt="Manage">
          </a>
          <a href="#">
            <p>Incidents</p>
          </a>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="">
              <div class="competitor-tooltip">
                <p class="tooltip-text">Some company</p>
                <div class="tooltip-caret"></div>
              </div>
              <img alt="One" class="competitor-logo" src="/img/wall-calendar.svg">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
          <a href="#">
            <img src="/img/wall-calendar.svg" alt="Manage">
          </a>
          <a href="#">
            <p>Manage</p>
          </a>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="">
              <div class="competitor-tooltip">
                <p class="tooltip-text">Some company</p>
                <div class="tooltip-caret"></div>
              </div>
              <img alt="One" class="competitor-logo" src="/img/wall-calendar.svg">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
          <a href="#">
            <img src="/img/wall-calendar.svg" alt="Manage">
          </a>
          <a href="#">
            <p>Manage</p>
          </a>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="">
              <div class="competitor-tooltip">
                <p class="tooltip-text">Some company</p>
                <div class="tooltip-caret"></div>
              </div>
              <img alt="One" class="competitor-logo" src="/img/wall-calendar.svg">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
          <a href="#">
            <img src="/img/wall-calendar.svg" alt="Manage">
          </a>
          <a href="#">
            <p>Manage</p>
          </a>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="">
              <div class="competitor-tooltip">
                <p class="tooltip-text">Some company</p>
                <div class="tooltip-caret"></div>
              </div>
              <img alt="One" class="competitor-logo" src="/img/wall-calendar.svg">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
      <%# Column %>
      <div class="sdlc-column">
        <div class="stage-container">
          <a href="#">
            <img src="/img/wall-calendar.svg" alt="Manage">
          </a>
          <a href="#">
            <p>Manage</p>
          </a>
        </div>
        <div class="solutions-container">
          <div class="current-categories">
            <p class="font-bold">Since 2016 Fyipe added: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
          <div class="future-categories">
          <p class="font-bold">Coming soon: </p>
            <p>
              <a href="#">Lorem</a>
            </p>
            <p>
              <a href="#">Ipsum</a>
            </p>
            <p>
              <a href="#">Send it</a>
            </p>
            <p>
              <a href="#">Super Awesome</a>
            </p>
          </div>
        </div>
        <div class="competitors-wrapper">
          <p class="replace-text font-bold">Fyipe can replace:</p>
          <div class="competitors-container">
            <a class="competitor-logo-container" href="">
              <div class="competitor-tooltip">
                <p class="tooltip-text">Some company</p>
                <div class="tooltip-caret"></div>
              </div>
              <img alt="One" class="competitor-logo" src="/img/wall-calendar.svg">
            </a>
          </div>
        </div>
      </div>
      <%# End of column %>
    </div>
  </div>
</section>
