<!DOCTYPE html>
<html lang="en">
<head>
    <title>CloudBoost | Service Level Agreement</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | Service Level Agreement"/>
    <meta name="description" content="CloudBoost | Service Level Agreement with 99.95% uptime.">
    <meta name="keywords" content="partners, become a cloudboost partner,  baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!"/>
    <!--common head links-->
    <% include ./partials/commonHead %>
</head>

<body>

<!--header-->
<header id="header" class="header">
  <% include ./partials/header %>
</header>

<!--Content-->
<!--********************************************************************************************-->

     <div class="headline-bg about-headline-bg">
    </div><!--//headline-bg-->

    <!-- ******Video Section****** -->
    <section class="story-section section section-on-bg">
      <h1 style="color:white; font-size:44px;" class="text-center">
          <span style="font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">Service Level Agreement</span>
      </h1>

        <div class="story-container container text-center">
            <div class="story-container-inner" >
                <div class="about">
                     <article class="c8 b1">


    <p>
    This CloudBoost Service Level Agreement ("SLA") is a policy governing the use of CloudBoost cloud-based services
    ("CloudBoost Services") under the terms of the <a href="/terms">CloudBoost Terms of Service</a> (the "Terms of Service") between
    HackerBay Software Private Limited. ("CloudBoost", "us" or "we") and users of CloudBoost Services ("you"). This SLA applies
    separately to each account using CloudBoost Services. Unless otherwise provided herein, this SLA is subject
    to the terms of the Terms of Service.  CloudBoost reserves the right to change the terms of this SLA
    in accordance with the Terms of Service.
    </p>

    <h4>1. Service Commitment</h4>

    <p>
    CloudBoost will use commercially reasonable efforts to make CloudBoost instances available with a
    Monthly Uptime Percentage (defined below) of at least 99.95%, in each case during any monthly billing cycle
    (the "Service Commitment"). In the event CloudBoost does not meet the Service Commitment, you will be
    eligible to receive a Service Credit as described below.
    </p>

    <h4>2. Definitions</h4>

    <p>
    The following capitalized terms shall be given the meaning set forth below:
    </p>

    <ul>
      <li>
        <strong>"Monthly Uptime Percentage"</strong> is calculated by subtracting from 100% the percentage of continuous 5 minute periods
      during the month in which a CloudBoost instance was in a state of "Unavailable." Monthly Uptime Percentage
      measurements exclude downtime resulting directly or indirectly from any CloudBoost SLA Exclusion (defined below).
      </li>

      <li>
        <strong>"Unavailable"</strong> and <strong>"Unavailability"</strong> means when a running CloudBoost instance has no external connectivity.
      </li>

      <li>
        A <strong>"Service Credit"</strong> is a dollar credit, calculated as set forth below, that we may credit back to an eligible account.
      </li>
    </ul>

    <h4>3. Service Commitments and Service Credits</h4>
    <p>
    Service Credits are calculated as a percentage of the total charges paid by you (excluding one-time payments
    such as upfront payments) for a CloudBoost instance for the monthly billing cycle in which the Unavailability
    occurred in accordance with the schedule below.
    </p>

    <table>
      <thead>
        <tr>
          <th>Monthly Uptime Percentage</th>
          <th>Service Credit Percentage</th>
        </tr>
      </thead>

      <tr>
        <td>Less than 99.95% but equal to or greater than 99.0%</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>Less than 99.0%</td>
        <td>30%</td>
      </tr>
    </table>

    <p>
    We will apply any Service Credits only against future CloudBoost payments otherwise due from you.
    At our discretion, we may issue the Service Credit to the credit card you used to pay for the billing
    cycle in which the Unavailability occurred. Service Credits will not entitle you to any refund or other
    payment from CloudBoost. A Service Credit will be applicable and issued only if the credit amount for
    the applicable monthly billing cycle is greater than one dollar ($1 USD). Service Credits may not be
    transferred or applied to any other account. Unless otherwise provided in the Terms of Service, your
    sole and exclusive remedy for any unavailability, non-performance, or other failure by us to provide
    CloudBoost Services is the receipt of a Service Credit (if eligible) in accordance with the terms of this SLA.
    </p>

    <h4>4. Credit Request and Payment Procedures</h4>

    <p>
    To receive a Service Credit, you must submit a claim by sending an email to support@CloudBoost.com.
    To be eligible, the credit request must be received by us by the end of the second billing cycle
    after which the incident occurred and must include:
    </p>

    <ul>
      <li>i. the words "SLA Credit Request" in the subject line;</li>

      <li>ii. the dates and times of each Unavailability incident that you are claiming;</li>

      <li>iii. the affected CloudBoost instance urls; and</li>

      <li>iv. your request logs that document the errors and corroborate your claimed outage (any confidential or sensitive information in these logs should be removed or replaced with asterisks).</li>
    </ul>

    <p>
    If the Monthly Uptime Percentage of such request is confirmed by us and is less than the Service Commitment,
    then we will issue the Service Credit to you within one billing cycle following the month in which your
    request is confirmed by us. Your failure to provide the request and other information as required
    above will disqualify you from receiving a Service Credit.
    </p>

    <h4>5. CloudBoost SLA Exclusions</h4>

    <p>
    The Service Commitment does not apply to any unavailability, suspension or termination of
    CloudBoost Services, or any other CloudBoost or CloudBoost Services performance issues: (i) caused
    by factors outside of our reasonable control, including, without limitation, any force majeure
    event or Internet access or related problems beyond the demarcation point of CloudBoost Services or
    its direct hosting subcontractors (i.e beyond the point in the network where CloudBoost maintains
    access and control over the CloudBoost Services); (ii) that result from any actions or inactions of
    you or any third party (other than CloudBoost’s direct hosting subcontractor); (iii) that result from your equipment, software or other technology
    and/or third party equipment, software or other technology (other than third party equipment within
    our direct control); (iv) that result from any scheduled maintenance; or (vi) arising from our
    suspension and termination of your right to use CloudBoost Services in connection with any breach by
    you of the Terms of Service or otherwise in accordance with the Terms of Service
    (collectively, the "CloudBoost SLA Exclusions"). If availability is impacted by factors other than those used in
    our Monthly Uptime Percentage calculation, then we may issue a Service Credit considering such factors at our discretion.
    </p>
  </article>


                </div><!--//about-->


            </div><!--//story-container-->
        </div><!--//container-->
    </section><!--//story-video-->

    <!-- ******FOOTER****** -->

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>

     <!--scripts-->
    <% include ./partials/commonScripts %>
    <script type="text/javascript">
        //Initialization
        $(document).ready(function(){
            if(!__isDevelopment){
              /****Tracking************/
               mixpanel.track('Visted Service Level Agreement Page', {"visited":"visited Service Level Agreement Page"});
               amplitude.getInstance().logEvent('Visted Service Level Agreement Page', {"visited":"visited Service Level Agreement Page"});
              /****End of Tracking*****/
            }
        });
        //Initialization
    </script>

</body>
</html>
