<!DOCTYPE html>
<html lang="en" if="twitter-wjs">

<head>
    <title>CloudBoost | Products</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="CloudBoost | Pricing" />
    <meta name="description" content="CloudBoost Pricing. Free plan to begin with and pay as you go as you scale.">
    <meta name="keywords" content="pricing, baas, backend as a service, database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, signup, cloudboost">
    <meta name="fragment" content="!" />
    <!--common head links-->
    <% include ./partials/commonHead %>
        <!--<link rel="stylesheet" href="/js/owlcarousel/assets/owl.carousel.css"> -->
        <link rel="stylesheet" href="/vendors/slick-carousel/slick/slick.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css" />
        <link rel="stylesheet" type="text/css" href="vendors/lightslider/dist/css/lightslider.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/pricing.css" />
        <style>
            .btn-outline {
                border: 1px solid rgb(31, 114, 158) !important;
            }
            .btn-outline i {
                color: rgb(31, 114, 158) !important;
            }
            .circle-wrapper.individual-products {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                display: -webkit-flex;
                display: -moz-flex;
                flex-flow: column wrap;
                -moz-flex-flow: column wrap;
                -webkit-flex-flow: column wrap;
                justify-content: center;
                -moz-justify-content: center;
                -webkit-justify-content: center;
                align-items: center;
                -moz-align-items: center;
                -webkit-align-items: center;
            }
        </style>

</head>

<body>
    <section class="contact-headline-bg">
        <!--header-->
        <header id="header" class="header">
            <% include ./partials/header %>
        </header>

        <!--Content-->
        <!--********************************************************************************************-->
        <!-- ******Contact Section****** -->
        <section class="contact-section section section-on-bg development-service">
            <div class="container">
                <center>
                    <h1 style="color:white; font-size:44px; font-family: 'Signika', sans-serif; font-weight: 300;">
                        <span style="font-family: 'Signika', sans-serif; font-weight:700;font-size:50px">Thank You!</span>
                    </h1>

                    <div>
                        <h3 style="color:white; font-size:30px; font-family: 'Signika', sans-serif; font-weight: 300;">
                            <span style="color:#b1d8ec; font-family: 'Signika', sans-serif; font-weight: 300;">We have recieved your request. You'll soon recieve a mail from us. <br/>Thank you, once again!</span>
                        </h3>
                    </div>

                </center>
            </div>
            <!--//container-->
        </section>
    </section>

    <!--footer-->
    <footer class="footer">
        <% include ./partials/footer %>
    </footer>

    <!--scripts-->
    <% include ./partials/commonScripts %>

</body>

</html>
