
<div class="footer-content">
    <div class="container">
        <div class="row">
            <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                <div class="footer-col-inner">
                    <h3 class="title">About us</h3>
                    <ul class="list-unstyled">
                        <li><a href="/about"><i class="fa fa-caret-right"></i>About us</a></li>
                        <li><a href="https://angel.co/cloudboost-io/jobs"><i class="fa fa-caret-right"></i>Join us</a></li>
                        <li><a href="/contact"><i class="fa fa-caret-right"></i>Contact us</a></li>
                        <li><a href="/investors"><i class="fa fa-caret-right"></i>Investors</a></li>
                    </ul>
                </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
            <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                <div class="footer-col-inner">
                    <h3 class="title">Support</h3>
                    <ul class="list-unstyled">
                        <li><a href="/contact"><i class="fa fa-caret-right"></i>Help</a></li>
                        <li><a href="http://status.cloudboost.io/" target="_blank"><i class="fa fa-caret-right"></i>Status</a></li>
                        <li><a href="/terms"><i class="fa fa-caret-right"></i>Terms of services</a></li>
                        <li><a href="/privacy"><i class="fa fa-caret-right"></i>Privacy Policy</a></li>
                        <li><a href="/service-level-agreement"><i class="fa fa-caret-right"></i>Service Level Agreement</a></li>
                    </ul>
                </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->

            <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                <div class="footer-col-inner">
                    <h3 class="title">Programs</h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/experts"><i class="fa fa-caret-right"></i>Experts Program</a>
                        </li>
                        <li>
                            <a href="https://partners.hackerbay.io"><i class="fa fa-caret-right"></i>Partners Program</a>
                        </li>
                    </ul>
                </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->

            <div class="footer-col connect col-md-6 col-sm-12 col-xs-12">
                <div class="footer-col-inner">

                    <div class="form-container">
                        <p class="intro">Subscribe to our newsletter. We don't spam.</p>
                        <form  class="signup-form navbar-form" name="footerSubscribeForm">
                            <div class="form-group">
                                <input id="subscribeInput" label="email" type="email" class="form-control" placeholder="Enter your email address" required >
                                <button id="subscribeBtn" type="submit" class="btn btn-cta btn-cta-primary" style="margin-left:10px;height:40px;background-color:#4A6781;border-color:#4A6781">Subscribe Now</button>
                            </div>
                        </form>
                        <!--<i id="footerShowSpinner" class="fa fa-spinner fa-spin fa-lg"></i>-->
                        <p id="footerSubscribeResult"></p>
                        <p id="footerSubscribeErr"></p>
                    </div><!--//subscription-form-->
                </div><!--//footer-col-inner-->
            </div><!--//foooter-col-->
            <div class="clearfix"></div>
        </div><!--//row-->
        <div class="row has-divider">
            <div class="footer-col download col-md-6 col-sm-12 col-xs-12">
                <div class="footer-col-inner">
                    <h3 class="title">Work at CloudBoost</h3>
                    <ul class="list-unstyled download-list">
                        <li>
                            <p class="adr clearfix">
                                <span class="adr-group pull-left">
                                    <span class="region">CloudBoost is the product of <a style="color:white;text-decoration:underline" href="https://hackerbay.io"> HackerBay, Inc.</a></span><br>
                                    <span class="street-address">Want to be a part of the team?</span><br>
                                </span>
                            </p>
                            </li>
                        <li><a type="_blank" class="btn btn-ghost" href="https://angel.co/cloudboost-io/jobs"><span class="text">Check out our open positions</span></a></li>
                    </ul>
                </div><!--//footer-col-inner-->

            </div><!--//download-->
            <div class="footer-col contact col-md-6 col-sm-12 col-xs-12">
                <div class="footer-col-inner">
                    <ul class="social list-inline">
                        <li><a href="https://twitter.com/cloudboostio" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://facebook.com/cloudboost.io" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC513RAcmBiMB5W6eiTaOOGw" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://github.com/cloudboost" target="_blank"><i class="fa fa-github"></i></a></li>
                        <li><a href="http://stackoverflow.com/questions/tagged/cloudboost" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
                        <li><a href="mailto:support@cloudboost.io" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
                        <li class="github-star-button" style="vertical-align: middle;"><a class="github-button" href="https://github.com/cloudboost/cloudboost" data-show-count="true" data-count-href="/cloudboost/cloudboost/stargazers" data-count-aria-label="# stargazers on GitHub" aria-label="Star CloudBoost on GitHub">Star</a></li>
                    </ul>

                    <a href="https://hackerbay.io"><img style="margin-top:30px" height="60px" src="/images/HackerBayLogoTransparent-black.svg" alt="HackerBay Software"/></a>
                </div><!--//footer-col-inner-->
            </div><!--//contact-->
        </div>
    </div><!--//container-->
</div><!--//footer-content-->
<div class="bottom-bar">
    <div class="container">
        <small class="copyright">Copyright <%=new Date().getFullYear()%> HackerBay, Inc.  </small>
        <small class="copyright pull-right">Crafted with <i class="ion ion-ios-heart" style="color:#b10000"></i> by people from all over the world.</small>
    </div><!--//container-->
</div><!--//bottom-bar-->
