<div class="container trending-container" style="margin-top:-30px">
    <div class="trending-wrapper">
        <div class="trending-slides cf">
            <!--Section1-->
            <section class="animsec1">
                <div class="">

                    <div class="graphic-row1">
                        <!--Row1-->
                    </div>

                    <div class="graphic-row2 flex-general-row-wrapper">
                        <div class="graphic-column1 flex-general-column-wrapper-center">

                            <div class="demo-explain flex-general-column-wrapper-center">

                                <div class="demo-main-heading flex-general-column-wrapper-center">

                                    <p class="open-line1" style="color: white;
                                    font-family: 'Signika', sans-serif;
                                    font-weight: 600;
                                    text-align: center;
                                    line-height: 1.1;
                                    font-size: 36px;">
                                            The realtime JavaScript backend.
                                    </p>
                                    <p class="open-line2" style="margin-top: -10px !important;font-size:24px;color:white;margin-top:-18px;font-weight:100;font-family: 'Signika', sans-serif;">
                                        <span>Build powerful web and mobile apps that scale.</span>
                                    </p>
                                </div>

                                <div class="demo-sub-heading flex-general-column-wrapper-center" style="color:white;width:100%;">
                                    <div class="flex-general-row-wrapper allFeaturesBlock" style="width:100%;">
                                        <div style="width:32%;" class="feature-width">
                                            <p class="allfeatures" style="font-weight: 100;font-family: sans-serif;">
                                                <span><i class="fa fa-database"></i>&nbsp;STORAGE</span>
                                            </p>
                                            <p class="allfeatures" style="font-weight: 100;margin-top:-10px;font-family: sans-serif;;margin-left:-1px;">
                                                <span><i class="fa fa-file"></i>&nbsp;FILES</span>
                                            </p>
                                        </div>

                                        <div style="width:32%" class="feature-width">
                                            <p class="allfeatures" style="font-weight: 100;font-family: sans-serif;">
                                                <span><i class="fa fa-search"></i>&nbsp;SEARCH</span>
                                            </p>
                                            <p class="allfeatures" style="font-weight: 100;font-family: sans-serif;margin-top:-10px;margin-left:-1px;">
                                                <span><i class="fa fa-comment"></i>&nbsp;REALTIME</span>
                                            </p>
                                        </div>

                                        <div style="width:35%" class="feature-width">
                                            <p class="allfeatures" style="font-weight: 100;font-family: sans-serif;">
                                                <span><i class="fa fa-user"></i>&nbsp;AUTHENTICATION</span>
                                            </p>
                                            <p class="allfeatures" style="font-weight: 100;margin-top:-10px;font-family: sans-serif;">
                                                <span><i class="fa fa-refresh"></i>&nbsp;OFFLINE SYNC</span>
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="demo-start-btn flex-general-column-wrapper-center">

                                    <button type="button" class="sign-up-btn-demo hidden-xs hidden-sm" style="background-color:#005e87">Sign up &nbsp;<i class="fa fa-angle-right bounce-arrow" style="font-size:18px;"></i></button>
                                    <button type="button" class="sign-up-btn-demo visible-xs visible-sm" style="background-color:#005e87">Sign up &nbsp;<i class="fa fa-angle-right bounce-arrow" style="font-size:18px;"></i></button>
                                </div>

                            </div>

                        </div>

                        <div class="hidden-sm hidden-xs graphic-column2 flex-general-column-wrapper-center">
                                <div class="demo-product-wrap flex-general-column-wrapper-center">
    
                                    <!--Desktop-->
                                    <div class="big-desktop-wrap flex-general-column-wrapper-center">
                                        <div class="big-desktop">
                                            <div class="big-deskscreen flex-general-column-wrapper-center">
                                                <div class="big-deskscreen-inn">
                                                    <img src="/images/monitor2.jpg" alt="Your Apps">
                                                </div>
                                            </div>
                                            <div class="big-desktail flex-general-column-wrapper-center">
                                                <div class="big-desktail-part1 flex-general-column-wrapper-center">
                                                    <div style="height:10px;width:10px; border-radius:25px;background-color:rgba(0, 0, 0, 0.38);">
                                                    </div>
                                                </div>
                                                <div class="big-desktail-part2">
                                                </div>
                                                <div class="big-desktail-part3">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/Desktop-->
    
                                    <!--Laptop-->
                                    <div class="laptop-wrap">
                                        <div class="laptop flex-general-column-wrapper-center">
    
                                            <div class="laptop-spl flex-general-column-wrapper-center">
                                                <div class="laptop-head flex-general-column-wrapper-center">
                                                    <div style="height:3px;width:3px; border-radius:25px;background-color:#ccc;">
                                                    </div>
                                                </div>
                                                <div class="laptop-screen flex-general-column-wrapper-center">
                                                    <div class="laptop-inn">
                                                        <img src="/images/monitor2.jpg" alt="Your mobile apps">
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div style="margin-top:-2px;" class="laptop-tail">
                                            </div>
                                        </div>
    
                                    </div>
                                    <!--/Laptop-->
    
                                    <!--BigTab-->
                                    <div class="bigtab-wrap">
                                        <div class="bigtab flex-general-column-wrapper-center">
    
                                            <div class="bigtab-head flex-general-column-wrapper-center">
                                                <div class="cf">
                                                    <div class="pull-left" style="height:2px;width:2px;background-color:#ccc;">
                                                    </div>
                                                    <div class="pull-left" style="margin-left:2px; height:2px;width:6px;background-color:#ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bigtab-screen flex-general-column-wrapper-center">
                                                <div class="bigtab-inn">
                                                    <img src="/images/bigtab2.jpg" alt="Your Web or mobile application.">
                                                </div>
                                            </div>
                                            <div class="bigtab-tail flex-general-column-wrapper-center">
                                                <div style="height:6px;width:6px;background-color:#ccc;border-radius:25px;">
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                    <!--/BigTab-->
    
                                    <!--SmallTab-->
                                    <div class="smalltab-wrap">
                                        <div class="smalltab flex-general-column-wrapper-center">
    
                                            <div class="smalltab-head flex-general-column-wrapper-center">
                                                <div class="cf">
                                                    <div class="pull-left" style="height:2px;width:2px;background-color:#ccc;">
                                                    </div>
                                                    <div class="pull-left" style="margin-left:2px; height:2px;width:6px;background-color:#ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="smalltab-screen flex-general-column-wrapper-center">
                                                <div class="smalltab-inn">
                                                    <img src="/images/smalltab2.jpg" alt="Your web or mobile application">
                                                </div>
                                            </div>
                                            <div class="smalltab-tail flex-general-column-wrapper-center">
                                                <div style="height:6px;width:6px;background-color:#ccc;border-radius:25px;">
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                    <!--/SmallTab-->
    
                                    <!--Mobile-->
                                    <div class="mobile-wrap">
                                        <div class="mobile flex-general-column-wrapper-center">
    
                                            <div class="mobile-head flex-general-column-wrapper-center">
                                                <div class="cf">
                                                    <div class="mbl-head-features-point1 pull-left">
                                                    </div>
                                                    <div class="pull-left mbl-head-features-point2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mobile-screen  flex-general-column-wrapper-center">
                                                <div class="mobile-screen-inn">
    
                                                    <!--mbl-slide0-->
                                                    <div class="mbl-slide0  flex-general-column-wrapper-center">
                                                        <img src="/images/mobile2.jpg" style="width:100%;height:100%;" alt="Your web or mobile application.">
                                                    </div>
                                                    <!--/mbl-slide0-->
    
                                                    <!--mbl-slide1-->
                                                    <div class="mbl-slide1">
                                                        <div class="mbl-app-header-defaults flex-general-row-wrapper">
                                                            <div class="mbl-defaults-left" style="padding-left: 8px;">
                                                                <div style="color:white;font-size:10px;margin-top:-1.4px;">
                                                                    <span><i class="fa fa-signal"></i></span>
                                                                    <span style="color:white;font-size:10px;margin-left:2px;">AT&amp;T</span>
                                                                </div>
                                                            </div>
    
                                                            <div class="mbl-defaults-center flex-general-column-wrapper-center">
                                                                <span style="color:white;font-size:10px;">12:00 PM</span>
                                                            </div>
    
                                                            <div class="mbl-defaults-right flex-general-row-wrapper" margin-right:4px;="">
                                                                <div style="margin-top:-7px;">
                                                                    <span style="color:white;font-size:10px;">100%</span>
                                                                </div>
    
                                                                <div class="flex-general-row-wrapper" style="margin-top:1.4px;margin-left:3px;">
                                                                    <div style="height:9px;width:21px;border:1px solid white;">
                                                                        <div style="height:5px;width:17px;margin:1px;background-color:white;">
                                                                        </div>
                                                                    </div>
    
                                                                    <div class="flex-general-column-wrapper-center" style="width:7px;height:8px;margin-left:-3px;">
                                                                        <div style="height:5px;width:3px; background-color:white;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
    
                                                        <div class="mbl-app-header demo-app-color-bg flex-general-row-wrapper">
                                                            <div class="mbl-app-head-logo flex-general-column-wrapper-center">
                                                                <img src="/images/newapplogo.jpg" alt="CloudBoost App">
                                                            </div>
                                                            <div class="mbl-app-head-features">
                                                                <div class="mbl-app-notify-icon">
                                                                    <i class="fa fa-bell"></i>
                                                                </div>
                                                                <div class="mbl-app-notify-bubble flex-general-column-wrapper-center">
                                                                    <span>2</span>
                                                                </div>
                                                            </div>
                                                        </div>
    
                                                        <!--Search-->
                                                        <div class="mbl-app-search flex-general-row-wrapper">
                                                            <div class="mbl-app-searchin-wrap flex-general-row-wrapper">
                                                                <div class="search-icon">
                                                                    <i class="fa fa-search mbl-search-default"></i>
                                                                </div>
    
                                                                <div class="search-input">
                                                                    <div class="inputlike">
                                                                        <p>Search people near by</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/Search-->
    
                                                        <div class="mbl-app-content">
                                                            <div class="mbl-app-content-wrap2">
    
                                                                <!--Card-->
                                                                <div class="coverpage-box">
                                                                    <div class="coverpage-wrap">
                                                                        <div class="coverpage-box-img">
                                                                            <div class="big-rect-profile">
                                                                                <img src="/images/cover2.jpg" alt="Cover Picture">
                                                                            </div>
                                                                            <div class="small-round-profile">
                                                                                <img class="lazy" data-src="/images/profilepic1.png" alt="Profile Pic">
                                                                            </div>
                                                                            <div class="cover-big-name">
                                                                                <span>Matt</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
    
                                                                    <div class="coverpage-box-det">
                                                                        <div class="coverpage-each-det">
                                                                            <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                                <i class="fa fa-map-marker"></i>
                                                                            </span>
                                                                            <span style="color:gray;font-size:10px;">5KM away</span>
                                                                        </div>
                                                                        <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                            <span style="color:#333;font-size:10px;">
                                                                                <i class="fa fa-heart"></i>
                                                                            </span>
                                                                            <span style="color:gray;;font-size:10px;">Hiking</span>
                                                                        </div>
    
                                                                        <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                            <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                                ABOUT
                                                                            </p>
                                                                            <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                                Hiking, backpacking, camping, trekking, and outdoor adventure!
                                                                            </p>
    
                                                                        </div>
    
                                                                    </div>
                                                                </div>
                                                                <!--/Card-->
    
                                                                <!--Card-->
                                                                <div class="coverpage-box">
                                                                    <div class="coverpage-wrap">
                                                                        <div class="coverpage-box-img">
                                                                            <div class="big-rect-profile">
                                                                                <img class="lazy" data-src="/images/cover4.png" alt="Cover Picture">
                                                                            </div>
                                                                            <div class="small-round-profile">
                                                                                <img src="/images/smallcover1.jpg" alt="Cover Picture">
                                                                            </div>
                                                                            <div class="cover-big-name">
                                                                                <span>Natalie</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
    
                                                                    <div class="coverpage-box-det">
                                                                        <div class="coverpage-each-det">
                                                                            <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                                <i class="fa fa-map-marker"></i>
                                                                            </span>
                                                                            <span style="color:gray;font-size:10px;">5KM away</span>
                                                                        </div>
                                                                        <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                            <span style="color:#333;font-size:10px;">
                                                                                <i class="fa fa-heart"></i>
                                                                            </span>
                                                                            <span style="color:gray;;font-size:10px;">Guitar</span>
                                                                        </div>
    
                                                                        <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                            <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                                ABOUT
                                                                            </p>
                                                                            <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                                Guitar Enthusias - Pursuing My Passion for Guitar
                                                                            </p>
    
                                                                        </div>
    
                                                                    </div>
                                                                </div>
                                                                <!--/Card-->
    
                                                                <!--Card-->
                                                                <div class="coverpage-box" style="margin-top:12px;">
                                                                    <div class="coverpage-wrap">
                                                                        <div class="coverpage-box-img">
                                                                            <div class="big-rect-profile">
                                                                                <img class="lazy" data-src="/images/cover5.jpg" alt="Cover Picture">
                                                                            </div>
                                                                            <div class="small-round-profile">
                                                                                <img src="/images/people1.png" alt="Cover Picture">
                                                                            </div>
                                                                            <div class="cover-big-name">
                                                                                <span>Valentina</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
    
                                                                    <div class="coverpage-box-det">
                                                                        <div class="coverpage-each-det">
                                                                            <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                                <i class="fa fa-map-marker"></i>
                                                                            </span>
                                                                            <span style="color:gray;font-size:10px;">7KM away</span>
                                                                        </div>
                                                                        <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                            <span style="color:#333;font-size:10px;">
                                                                                <i class="fa fa-heart"></i>
                                                                            </span>
                                                                            <span style="color:gray;;font-size:10px;">Modeling</span>
                                                                        </div>
    
                                                                        <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                            <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                                ABOUT
                                                                            </p>
                                                                            <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                                I am an Western model based in Dublin
                                                                            </p>
    
                                                                        </div>
    
                                                                    </div>
                                                                </div>
                                                                <!--/Card-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/mbl-slide1-->
    
                                                    <!--mbl-slide2-->
                                                    <div class="mbl-slide2">
                                                        <div class="mbl-app-header-defaults flex-general-row-wrapper">
                                                        </div>
                                                        <div class="mbl-app-header demo-app-color-bg flex-general-row-wrapper">
                                                        </div>
    
                                                        <!--Search-->
                                                        <div class="mbl-app-search flex-general-row-wrapper">
                                                            <div class="mbl-app-searchin-wrap flex-general-row-wrapper">
                                                                <div class="search-icon">
                                                                    <div class="searchicon-mode1">
                                                                        <i class="fa fa-search"></i>
                                                                    </div>
    
                                                                    <div class="searchspinner">
                                                                        <img class="lazy" data-src="/images/app-spinner.gif" alt="Loading Indicator">
                                                                    </div>
    
                                                                </div>
    
                                                                <div class="search-input">
                                                                    <div class="inputlike">
                                                                        <p>People who like travelling</p>
                                                                    </div>
                                                                </div>
    
                                                            </div>
                                                        </div>
    
                                                        <div class="mbl-app-content">
                                                            <div class="mbl-app-content-wrap2">
                                                                <!--Card-->
                                                                <div class="coverpage-box" style="margin-top:1px;">
                                                                    <div class="coverpage-wrap">
                                                                        <div class="coverpage-box-img">
                                                                            <div class="big-rect-profile">
                                                                                <img src="/images/cover1.jpg" alt="Cover Picture">
                                                                            </div>
                                                                            <div class="small-round-profile">
                                                                                <img src="/images/smallcover2.jpg" alt="Cover Picture">
                                                                            </div>
                                                                            <div class="cover-big-name">
                                                                                <span>Sophia</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
    
                                                                    <div class="coverpage-box-det">
                                                                        <div class="coverpage-each-det">
                                                                            <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                                <i class="fa fa-map-marker"></i>
                                                                            </span>
                                                                            <span style="color:gray;font-size:10px;">1.3KM away</span>
                                                                        </div>
                                                                        <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                            <span style="color:#333;font-size:10px;">
                                                                                <i class="fa fa-heart"></i>
                                                                            </span>
                                                                            <span style="color:gray;;font-size:10px;">Travelling</span>
                                                                        </div>
    
                                                                        <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                            <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                                ABOUT
                                                                            </p>
                                                                            <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                                I like long walks on the beach...and then to be dragged through the sand
                                                                            </p>
    
                                                                        </div>
    
                                                                    </div>
                                                                </div>
                                                                <!--/Card-->
    
                                                                <!--Card-->
                                                                <div class="coverpage-box" style="margin-top:12px;">
                                                                    <div class="coverpage-wrap">
                                                                        <div class="coverpage-box-img">
                                                                            <div class="big-rect-profile">
                                                                                <img src="/images/cover3.jpg" alt="Cover Picture">
                                                                            </div>
                                                                            <div class="small-round-profile">
                                                                                <img src="/images/smallcover3.jpg" alt="Cover Picture">
                                                                            </div>
                                                                            <div class="cover-big-name">
                                                                                <span>Emily</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
    
                                                                    <div class="coverpage-box-det">
                                                                        <div class="coverpage-each-det">
                                                                            <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                                <i class="fa fa-map-marker"></i>
                                                                            </span>
                                                                            <span style="color:gray;font-size:10px;">1.3KM away</span>
                                                                        </div>
                                                                        <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                            <span style="color:#333;font-size:10px;">
                                                                                <i class="fa fa-heart"></i>
                                                                            </span>
                                                                            <span style="color:gray;;font-size:10px;">Para Gliding</span>
                                                                        </div>
    
                                                                        <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                            <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                                ABOUT
                                                                            </p>
                                                                            <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                                Feel the freedom! All news about paragliding
                                                                            </p>
    
                                                                        </div>
    
                                                                    </div>
                                                                </div>
                                                                <!--/Card-->
    
                                                                <!--Card-->
                                                                <div class="coverpage-box" style="margin-top:12px;">
                                                                    <div class="coverpage-wrap">
                                                                        <div class="coverpage-box-img">
                                                                            <div class="big-rect-profile">
                                                                                <img class="lazy" data-src="/images/cover6.jpg" alt="Cover Picture">
                                                                            </div>
                                                                            <div class="small-round-profile">
                                                                                <img src="/images/smallcover2.jpg" alt="Cover Picture">
                                                                            </div>
                                                                            <div class="cover-big-name">
                                                                                <span>Jolly</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
    
                                                                    <div class="coverpage-box-det">
                                                                        <div class="coverpage-each-det">
                                                                            <span style="color:#333;font-size:12px;margin-left:2px;">
                                                                                <i class="fa fa-map-marker"></i>
                                                                            </span>
                                                                            <span style="color:gray;font-size:10px;">1.3KM away</span>
                                                                        </div>
                                                                        <div class="coverpage-each-det" style="margin-top:-7px;">
                                                                            <span style="color:#333;font-size:10px;">
                                                                                <i class="fa fa-heart"></i>
                                                                            </span>
                                                                            <span style="color:gray;;font-size:10px;">Guitar</span>
                                                                        </div>
    
                                                                        <div class="coverpage-small-descri" style="margin-top:2px;">
                                                                            <p style="color:#333;font-size:10px;font-weight:bold;">
                                                                                ABOUT
                                                                            </p>
                                                                            <p style="color:gray;font-size:10px;margin-top:-18px;">
                                                                                Music is the outlet of our emotions,love playing guitar.
                                                                            </p>
    
                                                                        </div>
    
                                                                    </div>
                                                                </div>
                                                                <!--/Card-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/mbl-slide2-->
    
                                                    <!--mbl-slide3-->
                                                    <div class="mbl-slide3">
                                                        <div class="mbl-app-header-defaults flex-general-row-wrapper">
                                                        </div>
    
                                                        <div class="mbl-app-header demo-app-color-bg flex-general-row-wrapper">
                                                            <div class="mbl-app-head-logo flex-general-column-wrapper-center">
                                                                <img src="/images/newapplogo.jpg" alt="CloudBoost Logo">
                                                            </div>
                                                            <div class="mbl-app-head-features">
    
                                                                <div class="mbl-app-notify-icon">
                                                                    <i class="fa fa-bell"></i>
                                                                </div>
                                                                <div class="mbl-app-notify-bubble flex-general-column-wrapper-center">
                                                                    <span>2</span>
                                                                </div>
    
                                                            </div>
                                                        </div>
    
                                                        <div class="mbl-app-content">
                                                            <!--Realtime Sync &amp; Notifications-->
                                                            <div class="notification-box">
                                                                <!--Datewise-->
                                                                <div class="datewise">
                                                                    <div class="date">
                                                                        <span>Today</span>
                                                                    </div>
                                                                    <div class="each-notify-bx flex-general-row-wrapper">
                                                                        <div class="notify-type">
                                                                            <img src="/images/mbl-notify-icon.png" alt="Realtime Sync &amp; Notifications">
                                                                        </div>
                                                                        <div class="notify-info">
                                                                            <p>
                                                                                <span class="name">Kaylee</span> is following you
                                                                                <span class="time">7:30 am</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="each-notify-bx flex-general-row-wrapper">
                                                                        <div class="notify-type">
                                                                            <img src="/images/mbl-notify-icon.png" alt="Realtime Sync &amp; Notifications">
                                                                        </div>
                                                                        <div class="notify-info">
                                                                            <p>
                                                                                <span class="name">Natalie</span> unfollowed you
                                                                                <span class="time">5:12 pm</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="each-notify-bx flex-general-row-wrapper">
                                                                        <div class="notify-type">
                                                                            <img src="/images/mbl-notify-icon.png" alt="Realtime Sync &amp; Notifications">
                                                                        </div>
                                                                        <div class="notify-info">
                                                                            <p>
                                                                                <span class="name">Sophia</span> liked your status
                                                                                <span class="time">10:45 am</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
    
                                                                </div>
                                                                <!--/Datewise-->
    
                                                                <!--Datewise-->
                                                                <div class="datewise">
                                                                    <div class="date">
                                                                        <span>Yesterday</span>
                                                                    </div>
                                                                    <div class="each-notify-bx flex-general-row-wrapper">
                                                                        <div class="notify-type">
                                                                            <img src="/images/mbl-notify-icon.png" alt="Realtime Sync &amp; Notifications">
                                                                        </div>
                                                                        <div class="notify-info">
                                                                            <p>
                                                                                <span class="name">Matt</span> poked you
                                                                                <span class="time">9:00 am</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="each-notify-bx flex-general-row-wrapper">
                                                                        <div class="notify-type">
                                                                            <img src="/images/mbl-notify-icon.png" alt="Realtime Sync &amp; Notifications">
                                                                        </div>
                                                                        <div class="notify-info">
                                                                            <p>
                                                                                <span class="name">Amelia</span> shared a photo
                                                                                <span class="time">8:30 pm</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="each-notify-bx flex-general-row-wrapper">
                                                                        <div class="notify-type">
                                                                            <img src="/images/mbl-notify-icon.png" alt="Realtime Notification">
                                                                        </div>
                                                                        <div class="notify-info">
                                                                            <p>
                                                                                <span class="name">Andrew</span> changed his status
                                                                                <span class="time">7:10 pm</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
    
                                                                </div>
                                                                <!--/Datewise-->
    
                                                                <!--Datewise-->
                                                                <div class="datewise">
                                                                    <div class="date">
                                                                        <span>Monday</span>
                                                                    </div>
                                                                    <div class="each-notify-bx flex-general-row-wrapper">
                                                                        <div class="notify-type">
                                                                            <img src="/images/mbl-notify-icon.png" alt="Realtime Notification">
                                                                        </div>
                                                                        <div class="notify-info">
                                                                            <p>
                                                                                <span class="name">Immanuel</span> is following you
                                                                                <span class="time">1:00 pm</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
    
                                                                </div>
                                                                <!--/Datewise-->
    
                                                            </div>
                                                            <!--/Notification-->
    
                                                        </div>
                                                    </div>
                                                    <!--/mbl-slide3-->
    
                                                    <!--mbl-slide4-->
                                                    <div class="mbl-slide4">
                                                        <div class="mbl-app-content">
                                                            <!--Data transfer-->
                                                            <div class="data-trans-wrap">
                                                                <!--<img class="rollingimg1" src="/images/metro-image.png">
                                                                <img class="rollingimg2" src="/images/metro-music.png">
                                                                <img class="rollingimg3" src="/images/metro-movie.png">
                                                                <img class="rollingimg4" src="/images/metro-folder.png">-->
                                                            </div>
                                                            <!--/Data transfer-->
                                                        </div>
                                                    </div>
                                                    <!--/mbl-slide4-->
    
                                                </div>
                                            </div>
                                            <div class="mobile-tail flex-general-column-wrapper-center">
                                                <div class="mbl-tail-features">
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                    <!--/Mobile-->
    
                                </div>
                            </div>

                        

                       

                    </div>

                    

                </div>
            </section>
            <!--/Section1-->
        </div>
    </div>
</div>
