.joyride-beacon {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 26px;
}

.joyride-beacon__inner {
  animation: joyride-beacon-inner 1.2s infinite ease-in-out;
  background-color: #4f8ef7;
  border-radius: 50%;
  display: block;
  height: 50%;
  left: 50%;
  opacity: 0.7;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.joyride-beacon__outer {
  animation: joyride-beacon-outer 1.2s infinite ease-in-out;
  background-color: rgba(67, 189, 255, .2);
  border: 1.44px solid #4f8ef7;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  transform-origin: center;
  width: 100%;
}

@keyframes joyride-beacon-outer {
  0% {
    transform: scale(1);
  }

  45% {
    opacity: 0.7;
    transform: scale(.75);
  }

  100% {
    opacity: 0.9;
    transform: scale(1);
  }
}

@keyframes joyride-beacon-inner {
  20% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.7;
  }
}

.manage_app_beacon {
  left: -97px;
}

.new_table_beacon {
  margin-left: -5px;
  margin-top: 1px;
}

.feedback_beacon {
  position: absolute;
  left: 15px;
  top: 23px;
  border-color: #aab7c4;
}

.createBtnBeacon {

  height: 34px;
  width: 92px;

  .createAppBtnLabel {
    position: relative;
    top: -12px;
    left: -24px;
  }

  .joyride-beacon__outer {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1.44px solid #ffffff;
  }

  .joyride-beacon__inner {
    background-color: #ffffff;
  }
}


.gps_ring {
  border: 6px solid #4f8ef7;
  -webkit-border-radius: 30px;
  height: 18px;
  width: 18px;
  position: absolute;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
}

.new_app_beacon {
  position: relative;
  left: -6px;
  top: -2px;
}


.create_app_beacon {
  text-align: center;
  border-color: #fff;
  top: 175px;
  left: 48%;
}

.create_table_button_beacon{
  border-color: #fff;
  margin-left: 30px;
}

.create_table_beacon{
  top: 53px;
}

.upgrade_plan_beacon{
  position: absolute;
  margin-left: -33px;
  margin-top: 2px;
}

.first_login_beacon {
  position: absolute;
  margin-left: -6px;
  margin-top: -23px;
}

.documentation_link_beacon {
  position: relative;
  margin-left: -35px;
  margin-top: 5px;
}


@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}